{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">


    <!--PAGE TITLE-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" style="text-align:right">
        <p class="govuk-body"><a href="#">Sign out</a></p>
      </div>
    </div>



    <div class="govuk-grid-row">

      <!--SIDE NAV-->
      <div class="govuk-grid-column-one-quarter">
        <ul class="dwp-vertical-navigation">
          <li>
            <a href="tab-overview?current=tab-overview">
              Overview
            </a>
          </li>
          <li>
            <a aria-current="page" href="tab-applications?current=tab-applications">
              Applications
            </a>
          </li>
          <li>
            <a href="tab-personal-details?current=tab-personal-details">
              Personal details
            </a>
          </li>
          <li>
            <a href="tab-diversity?current=tab-diversity">
              Diversity
            </a>
          </li>
          <li>
            <a href="tab-shortlisting?current=tab-shortlisting">
              Character
            </a>
          </li>

        </ul>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <!--HEADER-->
        <h2 class="govuk-heading-l">Applications</h2>

        <!--TABLE-->
        <table class="govuk-table">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">Eli Webb</td>
            <td class="govuk-table__cell"><a href="name">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">25 10 1979</td>
            <td class="govuk-table__cell"><a href="name">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National Insurance number</th>
            <td class="govuk-table__cell">MY928561B</td>
            <td class="govuk-table__cell"><a href="name">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email address</th>
            <td class="govuk-table__cell">eli.webb@hotmail.com</td>
            <td class="govuk-table__cell"><a href="name">Change</a></td>
          </tr>


          </tbody>
        </table>





      </div>
    </div>

  </main>


</div>
</div>

</main>





<!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}