{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!--PAGE TITLE-->
        <h1 class="govuk-heading-xl">
          Check your email
        </h1>

        <p>We've sent a confirmation to<b> [EMAIL]</b>.</p>
        <p>Check the link to confirm your account.</p>

        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}