{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="landing-character" method="post">


      <!--PAGE TITLE-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-l"></h2>
        </div>

        <div class="govuk-grid-column-one-quarter" style="text-align:right">
          <p class="govuk-body"><a href="#">Sign out</a></p>
        </div>
      </div>


      <div class="govuk-grid-row">

        <!--SIDE NAV
        <div class="govuk-grid-column-one-quarter">
          <ul class="dwp-vertical-navigation">
            <li>
              SIDE NAV<a href="tab-overview?current=tab-overview">
              </a>
            </li>
            <li>
              <a href="no-applications?current=no-applications">
                Applications
              </a>
            </li>
            <li>
              <a href="tab-ask-personal?current=ask-personal">
                Personal details
              </a>
            </li>
            <li>
              <a aria-current="page" href="finish-diversity?current=finish-diversity">
                Diversity
              </a>
            </li>
            <li>
              <a href="ask-character?current=ask-character">
                Character
              </a>
            </li>

          </ul>
        </div>-->

        <div class="govuk-grid-column-three-quarters">


          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Create an account</span>
            Financial considerations
          </h1>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you ever been declared bankrupt?
                </h2>
              </legend>

              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                </legend>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                      Yes
                    </label>
                  </div>


                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted"
                        type="radio" value="email">
                      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                        No
                      </label>
                    </div>
                  </div>
              </fieldset>
          </div>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you filed late tax returns, been fined by HMRC or had other financial difficulties
                  more than 3 times in the last 5 years?
                </h2>
              </legend>

              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                </legend>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                      value="email" data-aria-controls="conditional-how-contacted-conditional">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                    id="conditional-how-contacted-conditional">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-email">
                        Add details of late filling, fines or other difficulties.
                      </label>
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                        aria-describedby="more-detail-hint"></textarea>

                    </div>
                  </div>


                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted"
                        type="radio" value="email">
                      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                        No
                      </label>
                    </div>



                  </div>
              </fieldset>
          </div>


          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </div>
      </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}