{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="finish-diversity" method="post">


      <!--PAGE TITLE-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-l"></h2>
        </div>

        <div class="govuk-grid-column-one-quarter" style="text-align:right">
          <p class="govuk-body"><a href="#">Sign out</a></p>
        </div>
      </div>


      <div class="govuk-grid-row">

        <!--SIDE NAV-->
        <div class="govuk-grid-column-one-quarter">
          <ul class="dwp-vertical-navigation">
            <!--<li>
              SIDE NAV<a href="tab-overview?current=tab-overview">
              </a>
            </li>
            <li>
              <a href="no-applications?current=no-applications">
                Applications
              </a>
            </li>-->
            <li>
              <a href="tab-ask-personal?current=ask-personal">
                Personal details
              </a>
            </li>
            <li>
              <a aria-current="page" href="finish-diversity?current=finish-diversity">
                Diversity
              </a>
            </li>
            <li>
              <a href="ask-character?current=ask-character">
                Character
              </a>
            </li>

          </ul>
        </div>

        <div class="govuk-grid-column-three-quarters">


          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Create an account</span>
            Social mobility
          </h1>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-l" style="margin-bottom:0px;">
                  Between the ages 11 to 18, did you mainly go to a state or fee-paying school?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="school-0" name="school" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="school-0">
                    Prefer not to say
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="school-1" name="school" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="school-1">
                    UK state school – selective
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="school-2" name="school" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="school-2">
                    UK state school – non-selective
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="school-3" name="school" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="school-3">
                    UK independent or fee-paying school
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="school-4" name="school" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="school-4">
                    UK independent or fee-paying school with financial assistance (bursary or means-tested scholarship)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="school-5" name="school" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="school-5">
                    I did not go to school in the UK
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-l" style="margin-bottom:0px;">Did you go to either of the Oxbridge
                  universities?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-0" name="university" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="university-0">
                    Prefer not to say
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-2" name="university" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="university-2">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-3" name="university" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="university-3">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>




          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-l" style="margin-bottom:0px;">
                  Were you the first generation in your family to go to university?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-0" name="university" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="university-0">
                    Prefer not to say
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-2" name="university" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="university-2">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-3" name="university" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="university-3">
                    No
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-3" name="university" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="university-3">
                    I did not go to university
                  </label>
                </div>
              </div>
            </fieldset>
          </div>



          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </div>
      </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}