{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="qt-info-page" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            NEW WEB PAGE
          </h1>


          <p>
            We’ll make reasonable adjustments to our selection process
            if you have a permanent or temporary disability, or
            a long-term health condition.</p>
          <p>This so you're not put at a substantial disadvantage. We'll also consider adjustments for
            candidates who are ill at any stage during the selection process.</p>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}