{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!--CONFIRMATION BOX-->
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">You're eligible to apply</h1>
          <p>
            <font color="#FFFFFF">Based on your answers, it looks like you can apply for this role.</font>
          </p>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          Sign into your account to continue your application.
        </p>

        <!--BUTTONS-->
        <div><a href="sign-in" class="govuk-button">Sign in</a></div>
        <p class="govuk-body">
          Or <a href="sign-up">create an account</a> if you do not have one.
        </p>
        <p class="govuk-body">
          <a href="eligibility-no">[When eligibility is no]</a>
        </p>

        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}