{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="eligibility-dob" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Check if you're eligible
          </h1>

          <h2 class="govuk-heading-l">
            District judge</h2>
          <p> Check if you have all the relevant qualifications and experience for this role.
          </p>
          <p>If it looks like you are eligible, you can then apply.</p>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Check if you're eligible
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}