{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list-pre" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <span class="govuk-caption-xl">092 Registrar of Criminal Appeals, Master of the Crown Office and Queen’s
            Coroner
            &
            Attorney</span>

          <br>
          <h1 class="govuk-heading-xl">
            Judicial experience
          </h1>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="judge-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Have you ever been a judge?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="judge-conditional" name="judge" type="radio" value="email"
                    data-aria-controls="conditional-judge-conditional">
                  <label class="govuk-label govuk-radios__label" for="judge-conditional">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="judge-conditional-2" name="judge" type="radio" value="phone"
                    data-aria-controls="conditional-judge-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="judge-conditional-2">
                    No
                  </label>
                </div>

                <div
                  class="govuk-radios__conditional govuk-radios__conditional--judicial govuk-radios__conditional--hidden"
                  id="conditional-judge-conditional">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                          Have you sat for at least 30 days?
                        </h1>
                      </legend>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="sitting-days" name="sitting-days" type="radio"
                            value="england">
                          <label class="govuk-label govuk-radios__label" for="sitting-days">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="sitting-days-2" name="sitting-days" type="radio"
                            value="scotland">
                          <label class="govuk-label govuk-radios__label" for="sitting-days-2">
                            No
                          </label>
                        </div>
                    </fieldset>
                  </div>
                </div>

                <div
                  class="govuk-radios__conditional govuk-radios__conditional--judicial govuk-radios__conditional--hidden"
                  id="conditional-judge-conditional-2">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                          Have you ever held a similar role to a judge for a <a
                            href="https://www.judicialappointments.gov.uk/eligibility-legally-qualified-candidates"
                            target="_blank"> quasi-judicial equivalent body</a>?

                        </h1>
                      </legend>

                  </div>
                </div>
            </fieldset>
          </div>




          <div class="govuk-radios__conditional govuk-radios__conditional--judicial govuk-radios__conditional--hidden"
            id="conditional-equivalent-conditional">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    equivalent?
                  </h1>
                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="equivalent" name="equivalent" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="equivalent">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="equivalent-2" name="equivalent" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="equivalent-2">
                      No
                    </label>
                  </div>
              </fieldset>
            </div>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--judicial govuk-radios__conditional--hidden"
            id="conditional-equivalent-2">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    explain

                  </h1>
                </legend>

            </div>
          </div>
          </fieldset>
        </div>








      </div>

      <!--BUTTON-->
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <!--END MAIN WRAPPER-->
</div>
</div>
</form>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}