{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="diversity-social" method="post">


      <!--PAGE TITLE-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-l"></h2>

          <p class="govuk-body"><a href="#">Sign out</a></p>
        </div>
      </div>


      <div class="govuk-grid-row">


        <div class="govuk-grid-column-three-quarters">


          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Diversity information</span>
            Sexual orientation
          </h1>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  How would you describe your sexual orientation?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-0" name="religion" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="religion-0">
                    Prefer not to say
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-1" name="orientation" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="orientation-1">
                    Bisexual
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-2" name="orientation" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="orientation-2">
                    Gay man
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-3" name="orientation" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="orientation-3">
                    Gay woman or lesbian
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-4" name="orientation" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="orientation-4">
                    Heterosexual or straight
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-5" name="orientation" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="orientation-5">
                    Other
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </div>
      </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}