{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}


{% include "includes/header.html" %}


<main class="govuk-main-wrapper " id="main-content" role="main">
  <form class="form" action="form-sent" method="post">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

        <!--PERSONAL DETAILS-->
        <h3 class="govuk-heading-m">Personal details</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Eli Webb
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              eli.webb@hotmail.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              25 10 1979
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
        </dl>
        <!--END PERSONAL DETAILS-->

        <!--QUALIFICATIONS-->
        <h3 class="govuk-heading-m">Qualifications</h3>
        <table width="100%">
          <tr>
            <td>
              <h3 class="govuk-heading-s" style="margin-bottom:0;">
                First qualification
              </h3>
            </td>
            <td>
              <div style="text-align: right;">
                <a class="govuk-link govuk-body" href="#">
                  Change<span class="govuk-visually-hidden"> role</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              What you're qualified as</dd>
            <dd class="govuk-summary-list__value">
              Barrister</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Where you're qualified</dd>
            <dd class="govuk-summary-list__value">
              Northern Ireland</dd>
          </div>
        </dl>
        <table width="100%">
          <tr>
            <td>
              <h3 class="govuk-heading-s" style="margin-bottom:0;">
                Second qualification
              </h3>
            </td>
            <td>
              <div style="text-align: right;">
                <a class="govuk-link govuk-body" href="#">
                  Change<span class="govuk-visually-hidden"> role</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              What you're qualified as</dd>
            <dd class="govuk-summary-list__value">
              Solicitor</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Where you're qualified</dd>
            <dd class="govuk-summary-list__value">
              England and Wales</dd>
          </div>
        </dl>
        <!--END QUALIFICATIONS-->

        <!--WORK EXPERIENCE-->
        <h2 class="govuk-heading-m">
          Legal work experience</h2>
        <table width="100%">
          <tr>
            <td>
              <h3 class="govuk-heading-s" style="margin-bottom:0;">
                First role</h3>
            </td>
            <td>
              <div style="text-align: right;">
                <a class="govuk-link govuk-body" href="#">
                  Change<span class="govuk-visually-hidden"> role</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Dates worked
            </dt>
            <dd class="govuk-summary-list__value">
              27 June 2013 to 17 February 2016<br>
              2 years 8 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Job title
            </dt>
            <dd class="govuk-summary-list__value">
              Junior counsel
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Organisation or business name
            </dt>
            <dd class="govuk-summary-list__value">
              Naughton Court Chambers
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Law-related tasks in this role
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Carrying out judicial functions in a court or tribunal</li>
                <li>Drafting rights or obligations documents</li>
              </ul>
            </dd>
          </div>
        </dl>
        <table width="100%">
          <tr>
            <td>
              <h3 class="govuk-heading-s" style="margin-bottom:0;">
                Second role</h3>
            </td>
            <td>
              <div style="text-align: right;">
                <a class="govuk-link govuk-body" href="#">
                  Change<span class="govuk-visually-hidden"> role</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Dates worked
            </dt>
            <dd class="govuk-summary-list__value">
              27 June 2013 to 17 February 2016<br>
              2 years 8 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Job title
            </dt>
            <dd class="govuk-summary-list__value">
              Solicitor
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Organisation or business name
            </dt>
            <dd class="govuk-summary-list__value">
              Neston, Algernon & Edge
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Law-related tasks in this role
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Advising on the application of the law</li>
                <li>Advising on resolution proceedings</li>
              </ul>
            </dd>
          </div>
        </dl>
        <!--END WORK EXPERIENCE-->

        <!--JUDICIAL EXPERIENCE-->
        <table width="100%">
          <tr>
            <td>
              <h3 class="govuk-heading-m" style="margin-bottom:0;">
                Judicial experience</h3>
            </td>
            <td>
              <div style="text-align: right;">
                <a class="govuk-link govuk-body" href="#">
                  Change<span class="govuk-visually-hidden"> role</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Have you ever been a judge?</dd>
            <dd class="govuk-summary-list__value">
              Yes</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Do you have at least 30 sitting days?
            </dd>
            <dd class="govuk-summary-list__value">
              Yes</dd>
          </div>
        </dl>
        <!--END JUDICIAL EXPERIENCE-->

        <!--INDEPENDENT ASSESSORS-->
        <h3 class="govuk-heading-m">Independent assessors</h3>
        <table width="100%">
          <tr>
            <td>
              <h3 class="govuk-heading-s" style="margin-bottom:0;">
                First independent assessor
              </h3>
            </td>
            <td>
              <div style="text-align: right;">
                <a class="govuk-link govuk-body" href="#">
                  Change<span class="govuk-visually-hidden"> role</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Full name</dd>
            <dd class="govuk-summary-list__value">
              Jodie Atkinson QC</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Email</dd>
            <dd class="govuk-summary-list__value">
              j.atkinson@ncchambers.co.uk</dd>
          </div>
        </dl>
        <table width="100%">
          <tr>
            <td>
              <h3 class="govuk-heading-s" style="margin-bottom:0;">
                Second independent assessor
              </h3>
            </td>
            <td>
              <div style="text-align: right;">
                <a class="govuk-link govuk-body" href="#">
                  Change<span class="govuk-visually-hidden"> role</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Full name</dd>
            <dd class="govuk-summary-list__value">
              Conor McKluskey</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Email</dd>
            <dd class="govuk-summary-list__value">
              conor.mckluskey@nae.co.uk</dd>
          </div>
        </dl>
        <!--END INDEPENDENT ASSESSORS-->

        <!--COMPETENCIES-->
        <table width="100%">
          <tr>
            <td>
              <h3 class="govuk-heading-m" style="margin-bottom:0;">
                Self-assessment competencies
              </h3>
            </td>
            <td>
              <div style="text-align: right;">
                <a class="govuk-link govuk-body" href="#">
                  Change<span class="govuk-visually-hidden"> role</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Finished statements
            </dd>
            <dd class="govuk-summary-list__value">
              <a href="#">eliewebb.doc</a>
            </dd>
          </div>
        </dl>
        <!--END COMPETENCIES-->

        <!--BUTTON-->
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Send application
        </button>

        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </form>
</main>
{% include "includes/footer.html" %}

</div>

{% endblock %}