{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}



{% include "includes/header.html" %}

<!--MAIN WRAPPER-->


<div class="govuk-width-container">
  <main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">




      <!--PAGE TITLE-->



      <div class="govuk-grid-column-two-thirds">
        <!--links
        <p><strong>Contents</strong>
          <p><a href="#">Salary</a></p>
          <p><a href="#">Eligibility</a></p>
          <p><a href="#">Salary</a></p>
          <p><a href="#">Additional skills or experience</a></p>
          <p><a href="#">Location</a></p>
          <p><a href="#">Jursidiction</a></p>

          -->

        <h1 class="govuk-heading-xl">042 Recorder
          </span>
          <br>
        </h1>


        <p><strong>Closing date:</strong> 13:00 Wednesday 11 October 2019</p>
        <p><strong>Number of vacancies:</strong> 62</p>
        <p><strong>Location:</strong> Across England, Scotland and Wales </p>
        <p><strong>Fee:</strong> £519.70 a day in London. £501.52 a day in all other locations. </p>
        <p><strong>Contact:</strong> 114@jac.gov.uk</p>


        <h2 class="govuk-heading-l">Timeline</h2>

        <ol class="dwp-timeline govuk-list">
          <li class="dwp-timeline__entry" style="margin-top: 0px;">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Application deadline</h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">13:00 Wednesday 11 October 2019</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Situational judgement and critical
              analysis test
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">2 November 2019</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Information about scenario test
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">24 November 2019</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Scenario test
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">2 December 2019</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Selection day
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">22 to 24 December 2019, London. 28 to 30
                November
                2019, Birmingham</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Candidates notified about appointment decision
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">February 2020</span></p>
          </li>

        </ol>


        <h2 class="govuk-heading-l"> Overview of the role </h2>

        <p class="govuk-body"> The jurisdiction of a Recorder is broadly similar to that of a Circuit Judge.
          <p> Recorders are required to read and assimilate case papers before a hearing or trial commences and play an
            active
            role in case management.
            <p> Recorders must control the manner in which cases are conducted and decide issues of law and procedure
              that may
              arise during a case and provide reasons for any ruling. Recorders are expected to keep abreast of legal
              developments; this entails a substantial amount of reading not directly connected with the cases which
              they
              are
              trying.








              <h2 class="govuk-heading-l">The selection process </h2>

              <p class="govuk-body">There are 4 stages to the selection process.</p>
              <!--MAIN WRAPPER
        <ol class="govuk-list govuk-list--number">
          <li>Check if you're eligible to apply.</li>
          <li>Complete application form.</li>
                <li>Take your qualifying tests.</li>
          <li>Attend selection day, if invited.</li>
        </ol>
        -->

              <h3 class="govuk-heading-m">1. Check if you're eligible</h3>
              <p class="govuk-body"> Check you meet all the eligibility requirements for this
                role. It's not a guarantee you're eligible – it's to give you an idea of whether you
                might be.</p>

              <h3 class="govuk-heading-m">2. Fill in the application form</h3>

              <p class="govuk-body">You'll need to complete your:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>qualifications </li>
                <li>work experience </li>
                <li>self-assessment competency statements</a></li>
                <li> independent assessors' details</a>
                </li>
              </ul>

              <h3 class="govuk-heading-m">3. Take the qualifying tests</h3>
              <p class="govuk-body">You'll need to take the:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Critical analysis test</li>
                <li>Situational judgement test</li>
              </ul>

              <h3 class="govuk-heading-m">4. Attend selection day</h3>
              <p class="govuk-body">Shortlisted candidates are invited to selection days</a>. These
                allow us to meet
                you
                in person to assess your suitability for the role. If you’re selected, we’ll email you a week before
                with
                details about what you’ll need to prepare for the day. </p>

              <a href="eligibility-page.html" class="govuk-button" data-module="govuk-button">
                Check if you're eligible and apply
              </a>
              <p class="govuk-body"><a href="#">Or get email updates about this role</a></p>
      </div>


      <div class="govuk-grid-column-one-third">



        <h2 class="govuk-heading-m">Related content</h2>
        <p><a href=https://www.judicialappointments.gov.uk/overview-selection-process target="_blank">How we shortlist
            candidates</a></p>
        <p><a href="https://www.judicialappointments.gov.uk/completing-your-self-assessment" target="_blank">How to
            write your self-assessment competency statements</a></p>
        <p><a href="https://www.judicialappointments.gov.uk/references-guidance-candidates" target="_blank">How to
            choose your independent assessors</a></p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



      </div>

    </div>
  </main>
  {% include "includes/footer.html" %}
  {% endblock %}