{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}



{% include "includes/header.html" %}

<!--MAIN WRAPPER-->


<div class="govuk-width-container">
  <main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">

      <!--PAGE TITLE-->
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">042 Recorder
        </h1>

        <p><strong>Closing date:</strong> 13:00 Wednesday 11 October 2019</p>
        <p><strong>Number of vacancies:</strong> 62</p>
        <p><strong>Location:</strong> Across England, Scotland and Wales </p>
        <p><strong>Fee:</strong> £519.70 a day in London. £501.52 a day in all other locations. </p>
        <p><strong>Contact:</strong> 114@jac.gov.uk</p>

        <h2 class="govuk-heading-l">Timeline</h2>

        <ol class="dwp-timeline govuk-list">
          <li class="dwp-timeline__entry" style="margin-top: 0px;">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Application deadline</h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">13:00 Wednesday 11 October 2019</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Situational judgement and critical
              analysis qualifying tests
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">2 November 2019</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Information about scenario test
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">24 November 2019</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Scenario test
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">2 December 2019</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Selection day
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">22 to 24 December 2019, London. 28 to 30
                November
                2019, Birmingham</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Candidates notified about appointment decision
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">February 2020</span></p>
          </li>
        </ol>

        <h2 class="govuk-heading-l"> Overview of the role </h2>

        <p class="govuk-body"> The jurisdiction of a Recorder is broadly similar to that of a Circuit Judge.
          <p> Recorders are required to read and assimilate case papers before a hearing or trial commences and play an
            active
            role in case management.
            <p> Recorders must control the manner in which cases are conducted and decide issues of law and procedure
              that may
              arise during a case and provide reasons for any ruling. Recorders are expected to keep abreast of legal
              developments; this entails a substantial amount of reading not directly connected with the cases which
              they
              are
              trying.
              <h2 class="govuk-heading-l">Eligibility requirements </h2>


              <p class="govuk-body"> The eligibility requirements for this role are contained in an eligibility
                checklist.
                This is the first stage of the application process.</p>
              <p class="govuk-body"> The questions in the checklist are based on the specific requirements for this role
                only. You should read each
                question carefully, even if you’ve applied for roles with the JAC before.

              </p>

            </p>
            <p class="govuk-body"> Your answers will give you an idea of whether you're eligible - they're not a
              confirmation that you are or are not.</p>
            <a href="eligibility-page.html" class="govuk-button" data-module="govuk-button">
              Start eligibility checklist
            </a>
            <p class="govuk-body"><a href="#">Or get email updates about this role</a></p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Related content</h2>
        <p><a href="qualifying-tests" target="_blank">Learn about
            qualifying tests</a></p>

        <p><a href="https://www.judicialappointments.gov.uk/completing-your-self-assessment" target="_blank">How to
            write your self-assessment competency statements</a></p>
        <p><a href="https://www.judicialappointments.gov.uk/references-guidance-candidates" target="_blank">How to
            choose your independent assessors</a></p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      </div>

    </div>
  </main>
  {% include "includes/footer.html" %}
  {% endblock %}