{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list-pre" method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            Complete the equality and diversity survey
          </h1>
          <p class="govuk-body-l">You do not have to complete this information, but it helps us meet <a
              href="https://www.judicialappointments.gov.uk/providing-diversity-information-jac">our commitment to
              equality and diversity<a>.</p>
          <p class="govuk-body-l">We will never consider this information alongside an application for a role.

            <!--DIVERSITY ETHNICITY-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                    What's your ethnic group?
                  </h2>
                </legend>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-0" name="ethnicity" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-0">
                    Prefer not to say
                  </label>
                </div>
                <p class="govuk-heading-s" style="margin-top: 1.5rem;">
                  Asian/Asian British
                </p>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-1" name="ethnicity" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-1">
                    Bangladeshi
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-2" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-2">
                    Chinese
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-3" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-3">
                    Indian
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-4" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-4">
                    Pakistani
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-5" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-5">
                    Any other Asian background
                  </label>
                </div>
                <p class="govuk-heading-s" style="margin-top: 1.5rem;">
                  Black/African/Caribbean/Black British
                </p>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-6" name="ethnicity" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-6">
                    African
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-7" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-7">
                    Caribbean
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-8" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-8">
                    Any other Black/African/Caribbean background
                  </label>
                </div>
                <p class="govuk-heading-s" style="margin-top: 1.5rem;">
                  White
                </p>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-9" name="ethnicity" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-9">
                    English, Welsh, Scottish, Northern Ireland, British
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-10" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-10">
                    Irish
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-11" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-11">
                    Gypsy or Irish Traveller
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-12" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-12">
                    Any other White background
                  </label>
                </div>
                <p class="govuk-heading-s" style="margin-top: 1.5rem;">
                  Mixed or multiple ethnic backgrounds
                </p>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-13" name="ethnicity" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-13">
                    White and Black Caribbean
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-14" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-14">
                    White and Black African
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-15" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-15">
                    White and Asian
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-16" name="ethnicity" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-16">
                    Any other mixed or multiple ethnic backgrounds
                  </label>
                </div>
                <p class="govuk-heading-s" style="margin-top: 1.5rem;">
                  Other ethnic group
                </p>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnicity-17" name="ethnicity" type="radio" value="england"
                    data-aria-controls="conditional-ethnicity-17-conditional">
                  <label class="govuk-label govuk-radios__label" for="ethnicity-17">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-ethnicity-17-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="ethnicity-other">
                      Ethnicity
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="ethnicity-other" name="ethnicity-other"
                      type="email" spellcheck="false">
                  </div>
                </div>
              </fieldset>
            </div>
            <!--END DIVERSITY ETHNICITY-->

            <!--DIVERSITY RELIGION-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                    What religion or faith are you?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-0" name="religion" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="religion-0">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-1" name="religion" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="religion-1">
                      No religion
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-2" name="religion" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="religion-2">
                      Atheist
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-3" name="religion" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="religion-3">
                      Buddhist
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-4" name="religion" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="religion-4">
                      Christian
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-5" name="religion" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="religion-5">
                      Hindu
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-6" name="religion" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="religion-6">
                      Jewish
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-7" name="religion" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="religion-7">
                      Muslim
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-8" name="religion" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="religion-8">
                      Sikh
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="religion-9-conditional" name="religion" type="radio"
                      value="england" data-aria-controls="conditional-religion-9-conditional">
                    <label class="govuk-label govuk-radios__label" for="religion-9-conditional">
                      Other
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                    id="conditional-religion-9-conditional">
                    <div class="govuk-form-group">
                      <label class="govuk-label-input" for="religion-other">
                        Religion or belief
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="religion-other" name="religion-other"
                        type="email" spellcheck="false">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--END DIVERSITY RELIGION-->

            <!--DIVERSITY GENDER-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                    What gender are you?
                  </h2>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="gender-0" name="gender" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="gender-0">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="gender-1" name="gender" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="gender-1">
                      Female
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="gender-2" name="gender" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="gender-2">
                      Male
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="gender-3" name="gender" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="gender-3">
                      Gender neutral
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                    Have you ever changed gender?
                  </h2>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="gender-assigned-0" name="gender-assigned" type="radio"
                      value="england">
                    <label class="govuk-label govuk-radios__label" for="gender-assigned-0">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="gender-assigned-1" name="gender-assigned" type="radio"
                      value="england">
                    <label class="govuk-label govuk-radios__label" for="gender-assigned-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="gender-assigned-2" name="gender-assigned" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="gender-assigned-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--END DIVERSITY GENDER-->

            <!--DIVERSITY ORIENTATION-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                    How would you describe your sexual orientation?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orientation-0" name="orientation" type="radio"
                      value="england">
                    <label class="govuk-label govuk-radios__label" for="orientation-0">
                      Prefer not to say
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orientation-1" name="orientation" type="radio"
                      value="england">
                    <label class="govuk-label govuk-radios__label" for="orientation-1">
                      Bisexual
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orientation-2" name="orientation" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="orientation-2">
                      Gay man
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orientation-3" name="orientation" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="orientation-3">
                      Gay woman or lesbian
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orientation-4" name="orientation" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="orientation-4">
                      Heterosexual or straight
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orientation-5" name="orientation" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="orientation-5">
                      Other
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--END DIVERSITY ORIENTATION-->

            <!--DIVERSITY-DISABILITY-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Do you have a disability?
                  </h1>
                </legend>
                <span id="how-contacted-conditional-hint" class="govuk-hint">
                  Disability is defined in the <a
                    href="https://www.gov.uk/definition-of-disability-under-equality-act-2010">Equality Act 2010</a>.
                </span>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="disability-0" name="disability" type="radio">
                    <label class="govuk-label govuk-radios__label" for="disability-0">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="disability-1" name="disability" type="radio" value="email"
                        data-aria-controls="disability-details-conditional">
                      <label class="govuk-label govuk-radios__label" for="disability-1">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                      id="disability-details-conditional">
                      <div class="govuk-form-group">
                        <label class="govuk-label-input" for="contact-by-email">
                          Add disability details
                        </label>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                          aria-describedby="more-detail-hint"></textarea>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="disability-2" name="disability" type="radio"
                        value="scotland">
                      <label class="govuk-label govuk-radios__label" for="disability-2">
                        No
                      </label>
                    </div>
                  </div>
              </fieldset>
            </div>
            <!--END DIVERSITY DISABILITY-->

            <!--DIVERSITY SOCIAL-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                    Between the ages 11 to 18, did you mainly go to a state or fee-paying school?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="school-0" name="school" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="school-0">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="school-1" name="school" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="school-1">
                      UK state school – selective
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="school-2" name="school" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="school-2">
                      UK state school – non-selective
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="school-3" name="school" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="school-3">
                      UK independent or fee-paying school
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="school-4" name="school" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="school-4">
                      UK independent or fee-paying school with financial assistance (bursary or means-tested
                      scholarship)
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="school-5" name="school" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="school-5">
                      I did not go to school in the UK
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h2 class="govuk-heading-m" style="margin-bottom:0px;">Did you go to either of the Oxbridge
                    universities?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="oxbridge-0" name="oxbridge" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="oxbridge-0">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="oxbridge-2" name="oxbridge" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="oxbridge-2">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="oxbridge-3" name="oxbridge" type="radio" value="scotland">
                    <label class="govuk-label govuk-radios__label" for="oxbridge-3">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--END DIVERSITY SOCIAL-->

            <!--DIVERSITY UNI-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                    Were you the first generation in your family to go to university?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="university-0" name="university" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="university-0">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="university-1" name="university" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="university-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="university-2" name="university" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="university-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="university-3" name="university" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="university-3">
                      I did not go to university
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--END DIVERSITY UNI-->

            <!--DIVERSITY QUAL-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="qualification-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    What is your professional background?
                  </h1>
                </legend>
                <span id="qualification-hint" class="govuk-hint">
                  Select all that apply.
                </span>
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="qualification" name="qualification" type="checkbox"
                      value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="qualification">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="qualification" name="qualification" type="checkbox"
                      value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="qualification">
                      Barrister
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="qualification-2" name="qualification" type="checkbox"
                      value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="qualification-2">
                      Fellow of the Chartered Institute of Legal Executives (CILEx)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="qualification-3" name="qualification" type="checkbox"
                      value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="qualification-3">
                      Solicitior
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="qualification-3" name="qualification" type="checkbox"
                      value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="qualification-3">
                      Other
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--END DIVERSITY QUAL-->

            <!--DIVERSITY ROLE-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="current-legal-role-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    What is your current legal role?
                  </h1>
                </legend>
                <span id="current-legal-role-hint" class="govuk-hint">
                  Select all that apply.
                </span>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-0" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-0">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-1" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-1">
                      Academic
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-2" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-2">
                      Barrister
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-3" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-3">
                      Fellow of the Chartered Institute of Legal Executives (CILEx)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-4" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-4">
                      Solicitor
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-5" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-5">
                      Fee-paid court judge
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-6" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-6">
                      Fee-paid tribunal judge
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-7" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-7">
                      Other fee-paid judicial office holder
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-8" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-8">
                      Salaried court judge
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-9" name="current-legal-role"
                      type="checkbox" value="email">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-9">
                      Salaried tribunal judge
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-10" name="current-legal-role"
                      type="checkbox" value="phone">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-10">
                      Other salaried judicial office holder
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="current-legal-role-11" name="current-legal-role"
                      type="checkbox" value="text message" data-aria-controls="conditional-current-legal-role">
                    <label class="govuk-label govuk-checkboxes__label" for="current-legal-role-11">
                      Other
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                    id="conditional-current-legal-role">
                    <div class="govuk-form-group">
                      <label class="govuk-label-input" for="contact-by-text">
                        Current legal role
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text"
                        type="tel">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--END DIVERSITY ROLE-->

            <!--DIVERSITY PREV JUDICIAL-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                    Do you hold, or have you held in the past, a fee-paid judicial role?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="prev-judicial-0" name="prev-judicial" type="radio"
                      value="england">
                    <label class="govuk-label govuk-radios__label" for="prev-judicial-0">
                      Prefer not to say
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="prev-judicial-1" name="prev-judicial" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="prev-judicial-1">
                      I have not previously held a fee-paid role
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="prev-judicial-2" name="prev-judicial" type="radio"
                      value="england">
                    <label class="govuk-label govuk-radios__label" for="prev-judicial-2">
                      Fee-paid court post
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="prev-judicial-3" name="prev-judicial" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="prev-judicial-3">
                      Fee-paid tribunal post
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="prev-judicial-4" name="prev-judicial" type="radio"
                      value="scotland">
                    <label class="govuk-label govuk-radios__label" for="prev-judicial-4">
                      Other fee-paid judicial office
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <!--DIVERSITY PREV JUDICIAL-->

            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>

        </div>
      </div>
  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}