{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list-pre" method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            Declare character information
          </h1>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you ever been declared bankrupt?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-bankrupt-conditional" name="character-bankrupt"
                    type="radio" value="email">
                  <label class="govuk-label govuk-radios__label" for="character-bankrupt-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-bankrupt-conditional-2" name="character-bankrupt"
                      type="radio" value="email">
                    <label class="govuk-label govuk-radios__label" for="character-bankrupt-conditional-2">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you filed late tax returns, been fined by HMRC or had other financial difficulties
                  more than 3 times in the last 5 years?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-tax-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-tax-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of late filling, fines or other difficulties
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Are you the subject of a live professional conduct or negligence investigation?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-professional-conditional"
                    name="character-professional" type="radio" value="email"
                    data-aria-controls="conditional-character-professional-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-professional-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-professional-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of conduct or negligence investigation
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-professional-conditional-2"
                      name="character-professional" type="radio" value="email">
                    <label class="govuk-label govuk-radios__label" for="character-professional-conditional-2">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you had a motoring offence involving drink or drug driving, or
                  driving while using a mobile in the last 10 years?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-distracted-conditional" name="character-distracted"
                    type="radio" value="email" data-aria-controls="conditional-character-distracted-conditional-2">
                  <label class="govuk-label govuk-radios__label" for="character-distracted-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-distracted-conditional-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of driving offences
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-distracted-conditional-2"
                      name="character-distracted" type="radio" value="email">
                    <label class="govuk-label govuk-radios__label" for="character-distracted-conditional-2">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you been disqualified from driving in the last 5 years?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-years-conditional" name="character-years"
                    type="radio" value="email" data-aria-controls="conditional-character-years-conditional-3">
                  <label class="govuk-label govuk-radios__label" for="character-years-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-years-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of disqualification
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-years-conditional-2" name="character-years"
                      type="radio" value="email">
                    <label class="govuk-label govuk-radios__label" for="character-years-conditional-2">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Do you have any motoring offences and more than 6 points on your
                  licence?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-points-conditional" name="character-points"
                    type="radio" value="email" data-aria-controls="conditional-character-points-conditional-4">
                  <label class="govuk-label govuk-radios__label" for="character-points-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-points-conditional-4">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of motoring offences or licence points
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-points-conditional-2" name="character-points"
                      type="radio" value="email">
                    <label class="govuk-label govuk-radios__label" for="character-points-conditional-2">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you had a criminal conviction in the last 10 years or a criminal caution in
                  the last 5 years?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-criminal-conditional" name="character-criminal"
                    type="radio" value="email" data-aria-controls="conditional-character-criminal-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-criminal-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-criminal-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of criminal conviction
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-criminal-conditional-2" name="character-criminal"
                      type="radio" value="email">
                    <label class="govuk-label govuk-radios__label" for="character-criminal-conditional-2">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Do you have any other issues that you think we should know about when considering your character?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-conditional" name="character" type="radio"
                    value="email" data-aria-controls="character-other-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="character-other-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of other character issues
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-conditional-2" name="character" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-conditional-2">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </div>
      </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}