{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="tab-applications-3" method="post">


      <!--PAGE TITLE-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" style="text-align:left">

          <p class="govuk-body"><a href="#">Sign out</a></p>

        </div>
      </div>
      <div class="govuk-grid-row">

        <!--SIDE NAV
      <div class="govuk-grid-column-one-quarter">
        <ul class="dwp-vertical-navigation">
          <li>
            <a href="tab-applications?current=tab-applications">
              Applications
            </a>
          </li>
          <li>
            <a href="tab-personal-details?current=personal-details">
              Personal details
            </a>
          </li>
          <li>
            <a aria-current="page" href="tab-diversity?current=tab-diversity">
              Diversity information
            </a>
          </li>
          <li>
            <a href="tab-character?current=tab-character">
              Character information
            </a>
          </li>
          <li>
            <a href="tab-working?current=tab-working">
              Working preferences
            </a>
          </li>
        </ul>
      </div>
      -->

        <div class="govuk-grid-column-full">

          <!--LINK-->
          <div style="text-align: right;">
            <a href="diversity-disability" class="govuk-body">Update diversity information</a>
          </div>

          <!--HEADER-->
          <h2 class="govuk-heading-l">Diversity information</h2>
          <p class="govuk-body-l">This information will also be saved to your account profile so you can
            reuse it in future applications.</p>
          <table class="govuk-table">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Do you have a disability?</th>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">What's your ethnic group?
              </th>
              <td class="govuk-table__cell">English, Welsh, Scottish, Northern Ireland, British</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">What gender are you?
              </th>
              <td class="govuk-table__cell">Female</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Have you ever changed gender?</th>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">What religion or faith are you?
              </th>
              <td class="govuk-table__cell">Prefer not to say</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">How would you describe your sexual orientation?
              </th>
              <td class="govuk-table__cell">Prefer not to say</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Between the ages 11 to 18, did you mainly go to a state or
                fee-paying school?
              </th>
              <td class="govuk-table__cell">Prefer not to say</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Did you go to either of the Oxbridge universities?
              </th>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Were you the first generation in your family to go to
                university?
              </th>
              <td class="govuk-table__cell">No</td>
            </tr>
            </tbody>
          </table>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
      </div>
  </main>
</div>
</div>
</main>

<!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}