{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">


    <!--PAGE TITLE-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" style="text-align:left">

        <p class="govuk-body"><a href="#">Sign out</a></p>

      </div>
    </div>




    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-xl"><span class="govuk-caption-xl">042 Recorder</span>
          <!--TABLE-->
          <br>
          <h2 class="govuk-heading-l">Application documents</h2>
          <p class="govuk-body-l">This information will also be saved to your account profile so you can
            reuse it in future applications.</p>
          <table class="govuk-table">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="personal-combined">Personal details</a></td>
              <td class="govuk-table__cell">Completed</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="diversity-disability.html">Diversity information</a></td>
              <td class="govuk-table__cell">Completed</td>
            </tr>
            <tr class="govuk-table__row">

              <td class="govuk-table__cell"><a href="character-criminal.html">Character information</a></td>
              <td class="govuk-table__cell">Completed</td>

            </tr>
            <tr class="govuk-table__row">

              <td class="govuk-table__cell"><a href="working-preferences.html">Working preferences</a></td>
              <td class="govuk-table__cell">Completed</td>

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task-list-pre.html">Application form</a></td>
              <td class="govuk-table__cell">Not completed</td>

            </tr>
            </tbody>
          </table>
      </div>


      <!--END MAIN WRAPPER-->
    </div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}