{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        <div style="text-align:right;">
          <a href="#" class="govuk-button govuk-button--secondary">
            Sign out
          </a>
        </div>
      </div>

      <!--MAIN WRAPPER-->
      <div class="govuk-grid-column-two-thirds">


        <!--PAGE TITLE-->
        <span class="govuk-caption-xl">042 Recorder</span>
        <h1 class="govuk-heading-xl">Apply for a role</h1>

        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Check before you start
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="job-advert" target="_blank" aria-describedby="eligibility-completed">
                    Read about the role
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Done</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="eligibility-page" target="_blank" aria-describedby="read-declaration-completed">
                    Check eligibility
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Done</strong>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Complete your profile
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="personal-combined" aria-describedby="eligibility-completed">
                    Provide personal details
                  </a>
                </span>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="working-preferences.html" aria-describedby="read-declaration-completed">
                    Set your working preferences
                  </a>
                </span>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="profile-character.html" aria-describedby="read-declaration-completed">
                    Declare character information
                  </a>
                </span>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="profile-diversity.html" aria-describedby="read-declaration-completed">
                    Complete the equality and diversity survey
                  </a>
                </span>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Prepare application
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="form-qualifications" aria-describedby="company-information-completed">
                    Qualifications
                  </a>
                </span>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="form-experience" aria-describedby="contact-details-completed">
                    Legal work experience
                  </a>
                </span>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="form-pje" aria-describedby="contact-details-completed">
                    Judicial experience
                  </a>
                </span>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="form-independent-assessors" aria-describedby="contact-details-completed">
                    Independent assessors
                  </a>
                </span>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span> Upload competencies
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="form-competencies">
                    Upload self-assessment competencies
                  </a>
                </span>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">4. </span> Apply
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="form-check-answers">
                    Check and submit application
                  </a>
                </span>
              </li>
            </ul>
          </li>
        </ol>

        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}