{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="form-school" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl" style="margin-bottom:0px;">
            What is your religion or belief?
          </h1>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-0" name="religion" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="religion-0">
                    Prefer not to say
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-1" name="religion" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="religion-1">
                    No religion
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-2" name="religion" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="religion-2">
                    Atheist
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-3" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-3">
                    Buddhist
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-4" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-4">
                    Christian
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-5" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-5">
                    Hindu
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-6" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-6">
                    Jewish
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-7" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-7">
                    Muslim
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-8" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-8">
                    Sikh
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-9-conditional" name="religion" type="radio"
                    value="england" data-aria-controls="conditional-religion-9-conditional">
                  <label class="govuk-label govuk-radios__label" for="religion-9-conditional">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-religion-9-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="religion-other">
                      Religion or belief
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="religion-other" name="religion-other"
                      type="email" spellcheck="false">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}