{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Check your email
          </h1>

          <p>We've sent a confirmation email to <b>hello@example.com</b>.</p>
          <p>Click the link to confirm your account.</p>
          <p>Magic link to take user to <a href="eligibility-start-page.html">eligibility start page</a></p>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}