{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Create an exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}
  <p><a href="/index" class="govuk-back-link">Back</a></p>

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="eligibility" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <span class="govuk-caption-xl">Version</span>
          <h1 class="govuk-heading-xl">2.2<br>
            <p class="govuk-body">Team UX released this on 20 September 2019</p>
          </h1>
          <h2 class="govuk-heading-l">Removed</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Test
            </li>
          </ul>

          <h2 class="govuk-heading-l">Changed</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Test
            </li>
          </ul>

          <h2 class="govuk-heading-l">Added</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Success message when user clicks email to create account
            </li>
          </ul>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}