{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list-pre" method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            Declare character information
          </h1>
          <p class="govuk-body-l">You must tell us about any character issues that could affect
            your suitability for this role. </p>
          <p class="govuk-body-l">Read the <a href="https://www.judicialappointments.gov.uk/good-character">character
              guidance<a> for detailed information. </p>




          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you ever been cautioned or convicted of a criminal offence?
                </h2>
              </legend>
              <span id="how-contacted-conditional-hint" class="govuk-hint">
                This includes spent convictions.</span>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-criminal-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-criminal-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of cautions or convictions, including dates, sentence and fine.
                    </label>
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input
                                class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-!-margin-bottom-6"
                                id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you received a non-motoring penalty notice in the last 4 years?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-non-motoring-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-non-motoring-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of non-motoring penalty notices, including nature of offence, fine and dates.
                    </label>
                    <div class="govuk-form-group">

                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input
                                class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-!-margin-bottom-6"
                                id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>






          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you ever been disqualified from driving, or convicted for driving under the influence of drink or
                  drugs? </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-driving-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-driving-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of driving disqualifications or convictions, including reason for disqualification,
                      fine or penalty points and dates.
                    </label>

                    <div class="govuk-form-group">

                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input
                                class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-!-margin-bottom-6"
                                id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Do you have any endorsements on your licence, or received any motoring fixed-penalty notices in the
                  last 4 years? </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-endorsements-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-endorsements-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of driving endorsements or motoring fixed-penalty notices, including number of
                      points and dates.
                    </label>
                    <div class="govuk-form-group">

                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input
                                class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-!-margin-bottom-6"
                                id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you ever been declared bankrupt or entered into an Individual Voluntary Agreement (IVA)? </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-bankruptcy-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-bankruptcy-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of bankruptcy or IVA, including dates.
                    </label>

                    <div class="govuk-form-group">

                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input
                                class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-!-margin-bottom-6"
                                id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>



          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you ever filed late tax returns or been fined my HMRC? </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-tax-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-tax-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of late tax returns or fines, including dates.
                    </label>
                    <div class="govuk-form-group">

                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input
                                class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-!-margin-bottom-6"
                                id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you ever been, or are you currently, subject to professional misconduct, negligence, wrongful
                  dismissal, discrimination or
                  harassment proceedings?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-professional-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-professional-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of the complaint, findings or action taken against you, including dates.
                    </label>

                    <div class="govuk-form-group">

                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input
                                class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-!-margin-bottom-6"
                                id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Have you ever been subject to complaints or disciplinary action, or been asked to resign from a
                  position?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-disciplinary-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-disciplinary-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of any professional complaints, disciplinary action or requests to resign, including
                      dates.
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Do you have any other issues that you think we should know about when considering your character?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                    value="email" data-aria-controls="conditional-character-other-conditional">
                  <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-character-other-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="contact-by-email">
                      Add details of any other relevant character issues, including dates.
                    </label>


                    <div class="govuk-form-group">

                      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                        <div class="govuk-date-input" id="passport-issued">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                Year
                              </label>
                              <input
                                class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-!-margin-bottom-6"
                                id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="character-tax-conditional" name="character-tax" type="radio"
                      value="email">
                    <label class="govuk-label govuk-radios__label" for="character-tax-conditional">
                      No
                    </label>
                  </div>
                </div>
            </fieldset>
          </div>





          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </div>
      </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}