{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list-pre" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <span class="govuk-caption-xl">092 Registrar of Criminal Appeals, Master of the Crown Office and Queen’s
            Coroner
            & Attorney</span>
          <h1 class="govuk-heading-xl">
            Qualifications
          </h1>

          <!--CONDITIONAL CHECKBOX GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

              </legend>
              <span id="citizenship-conditional-hint" class="govuk-hint">
                Select all that apply.
              </span>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Advocate – enrolled with the Scottish bar
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Barrister
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    CILEx fellow – a fellow of the Chartered Institutes of Legal Executives
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox"
                    value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                    Solicitor
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox"
                    value="text message" data-aria-controls="conditional-citizenship-conditional-3">
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                    Other
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Where did you qualify?
                </h1>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply.
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    England
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Northern Ireland
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Scotland
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Wales
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  If you qualified in Northern Ireland or Scotland, have passed the Qualified Lawyers Transfer Scheme?
                </h1>
              </legend>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--RADIO GROUP
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Where did you qualify as a solicitor?
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise" name="type-of-exercise" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise">
                    England and Wales
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Scotland
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Northern Ireland
                  </label>
                </div>
            </fieldset>
          </div>-->

          <!--DATE
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                When did you qualify</b>
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

         
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              Qualification
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              College or university
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

         
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Qualification date </legend>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        

          <div class="govuk-form-group">
            <p class="govuk-body">
              <a href="#">Add another</a>
          </div>
          </p>
-->
          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}