{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list-pre" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Independent assessors
          </h1>

          <p class="govuk-body">
            <a href="#">Guidance on choosing your independent assessors
            </a>
          </p>

          <h2 class="govuk-heading-l">
            First independent assessor
          </h2>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              Full name
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              Email
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              Phone
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Type of independent assessor</legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Judicial
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise" name="type-of-exercise" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise">
                    Professional
                  </label>
                </div>
            </fieldset>
          </div>

          <h2 class="govuk-heading-l">
            Second independent assessor
          </h2>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              Full name
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              Email
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              Phone
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Type of independent assessor</legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Judicial
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise" name="type-of-exercise" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise">
                    Professional
                  </label>
                </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}