{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!--CONFIRMATION BOX-->
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">Test received</h1>
          <p>
            <font color="#FFFFFF">You'll get an email from us to confirm we now have your test answers.</font>
          </p>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You still need to take your second test. You can do that now, or take a break.</p>
        <p>You must finish and send us your second test by [finish time].</p>
        </p>

        <!--BUTTONS-->
        <div><a href="qt-test-page.html" class="govuk-button">Take next test</a></div>


        <!--END MAIN WRAPPER-->
      </div>
    </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}