{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="profile" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">
            Submit info after selection day
          </h1>


          <div class="govuk-form-group">
            <label class="govuk-label" for="more-detail">
              Full address </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
              aria-describedby="more-detail-hint"></textarea>
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              National Insurance Number
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <p>character</p>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save
          </button>

        </div>
      </div>
    </form>
  </main>
  <!--END MAIN WRAPPER-->

  {% include "includes/footer.html" %}

</div>

{% endblock %}