{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="qt-test-page" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Take your qualifying tests
          </h1>
          <p>The <a href="situational-judgment-info-page.html">situational
              judgment</a> and <a href="critical-analysis-info-page.html">critical analysis</a>
            qualifying tests are the next stage of your application.</p>
          <p>You can take them anytime before [closing time] on [closing date].</p>
          <p>You can take them in any order, but each must be completed within [xx] mins. </p>
          <p>You can break for as long as you like between the tests.
          </p>

          <h2 class="govuk-heading-l">
            Reasonable adjustments
          </h2>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Do you need any reasonable adjustments
              </legend>
              <span id="waste-hint" class="govuk-hint">
                >What does this mean?
              </span>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise" name="type-of-exercise" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    No
                  </label>
                </div>
            </fieldset>
          </div>

          <!--DETAILS-->
          <p>[kellie: I can't get the conditional reveal to work. Click 'yes' - free text field with label text: Add
            information about your condition and what adjustments you’d like. You can also <a
              href="https://www.judicialappointments.gov.uk/contact-us">call us</a> if you prefer.</p>
          <span id="waste-hint" class="govuk-hint">
            >What does this mean?
            <p>[Kellie - txt appears under link when clicked]</p>
            <p>We’ll make reasonable adjustments to our selection process
              if you have a permanent or temporary disability, or
              a long-term health condition.
              <p>
                This so you're not put at a substantial disadvantage. We'll also consider adjustments for
                candidates who are ill at any stage during the selection process.</p>
          </span>
          </legend>

          <!--BUTTONS-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Take the situational judgment test
          </button>
          <br>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Take the critical analysis test
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}