{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Your profile
          </h1>

          <p>Name <b>John Smith</b> <a href="#">Change</a></p>
          <p>Phone number <b>07 9999 9999</b> <a href="#">Change</a></p>
          <p>Email address <b>hello@example.com</b> <a href="#">Change</a></p>
          <p>Diversity information <a href="#">Add details</a></p>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <p>Prep for QT <a href="#">Enter reasonable adjustments info</a></p>
          <p>After QT if selected <a href="#">Enter selection day info</a></p>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}