{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="../profile" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl" style="margin-bottom:0px;">
            Did you go to university and if so, were you the first generation from your family to go?
          </h1>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-0" name="university" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="university-0">
                    Prefer not to say
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-1" name="university" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="university-1">
                    I did not go to university
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-2" name="university" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="university-2">
                    I went to university and was the first generation in my family to do so
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="university-3" name="university" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="university-3">
                    I went to university but was not first generation in my family to do so
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}