{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2>
          <div><a href="eligibility">Eligibility</a></div>
          <div><a href="home">Applicant profile creation</a></div>
        </h2>

        <!--END MAIN WRAPPER-->
      </div>
    </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}