{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">


    <!--PAGE TITLE-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" style="text-align:right">
        <p class="govuk-body"><a href="#">Sign out</a></p>
      </div>
    </div>



    <div class="govuk-grid-row">

      <!--SIDE NAV-->
      <div class="govuk-grid-column-one-quarter">
        <ul class="dwp-vertical-navigation">
          <li>
            <a href="tab-applications?current=tab-applications">
              Applications
            </a>
          </li>
          <li>
            <a href="tab-personal-details?current=personal-details">
              Personal details
            </a>
          </li>
          <li>
            <a href="tab-diversity?current=tab-diversity">
              Diversity information
            </a>
          </li>
          <li>
            <a aria-current="page" href="tab-character?current=tab-character">
              Character information
            </a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <!--HEADER-->
        <h2 class="govuk-heading-xl">Character information</h2>



        <table class="govuk-table">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Motoring offences</th>
            <td class="govuk-table__cell"><a href="name">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Criminal offences</th>
            <td class="govuk-table__cell"><a href="name">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Financial considerations</th>
            <td class="govuk-table__cell"><a href="name">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Professional considerations</th>
            <td class="govuk-table__cell"><a href="name">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other character considerations</th>
            <td class="govuk-table__cell"><a href="name">Change</a></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
</div>
</main>

<!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}