{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="landing-diversity" method="post">


      <!--PAGE TITLE-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-l"></h2>
        </div>

        <div class="govuk-grid-column-one-quarter" style="text-align:right">
          <p class="govuk-body"><a href="#">Sign out</a></p>
        </div>
      </div>


      <div class="govuk-grid-row">

        <!--SIDE NAV
        <div class="govuk-grid-column-one-quarter">
          <ul class="dwp-vertical-navigation">
            <li>
              SIDE NAV<a href="tab-overview?current=tab-overview">
              </a>
            </li>
            <li>
              <a href="no-applications?current=no-applications">
                Applications
              </a>
            </li>
            <li>
              <a href="tab-ask-personal?current=ask-personal">
                Personal details
              </a>
            </li>
            <li>
              <a aria-current="page" href="finish-diversity?current=finish-diversity">
                Diversity
              </a>
            </li>
            <li>
              <a href="ask-character?current=ask-character">
                Character
              </a>
            </li>

          </ul>
        </div>
        -->

        <div class="govuk-grid-column-three-quarters">


          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Create an account</span>
            Religious beliefs
          </h1>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  What religion or faith are you?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-0" name="religion" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="religion-0">
                    Prefer not to say
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-1" name="religion" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="religion-1">
                    No religion
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-2" name="religion" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="religion-2">
                    Atheist
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-3" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-3">
                    Buddhist
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-4" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-4">
                    Christian
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-5" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-5">
                    Hindu
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-6" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-6">
                    Jewish
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-7" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-7">
                    Muslim
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-8" name="religion" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="religion-8">
                    Sikh
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-9-conditional" name="religion" type="radio"
                    value="england" data-aria-controls="conditional-religion-9-conditional">
                  <label class="govuk-label govuk-radios__label" for="religion-9-conditional">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-religion-9-conditional">
                  <div class="govuk-form-group">
                    <label class="govuk-label-input" for="religion-other">
                      Religion or belief
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="religion-other" name="religion-other"
                      type="email" spellcheck="false">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </div>
      </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}