{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="/app/views/candidate-dashboard/v1-0/tab-applications.html" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            [confirm email content]
          </h1>

          <p class="govuk-body-l">We’ve received a request to use <b>hello@email.com</b> to apply for a role with the
            Judicial Appointments Commission.</p>

          <p class="govuk-body-l">To confirm this email address and continue, use this link <a href="task-list-pre">
              https://apply.judicialappointments.digital/sign-in?lang=en<a></p>

          <p class="govuk-body-l"><b>Judicial Appointments Commission</b>

            <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}