{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!--PAGE TITLE-->
        <h1 class="govuk-heading-xl">
          Google sign in
        </h1>

        <a href="task-list-pre">Go</a>

        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </main>
  {% include "includes/footer.html" %}

</div>

{% endblock %}