{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!--PAGE TITLE-->
        <h1 class="govuk-heading-xl">
          Sign in
        </h1>
        <p class="govuk-body-l">We’re trialling a new application process for this role.

        </p>
        <p class="govuk-body-l">To apply, you’ll need to sign in on this page, not an existing account.
        </p>
        <br>
        <p class="govuk-body-l"> <a href="interruption-card">[sign-in with google button] </a></p>


        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </main>
  {% include "includes/footer.html" %}

</div>

{% endblock %}