{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}


{% include "includes/header.html" %}


<main class="govuk-main-wrapper " id="main-content" role="main">
  <form class="form" action="form-sent" method="post">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Review your application</h1>

        <!--PERSONAL DETAILS-->
        <table width="100%">
          <tr>
            <td>
              <h2 class="govuk-heading-l" style="margin-left:-4px;">
                Personal details</h2>
            </td>
            <td>
              <div class="govuk-summary-list--change">
                <a class="govuk-link govuk-body" href="profile-personal">
                  Change<span class="govuk-visually-hidden"> personal details</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Roma Mcloughlin-Downes
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              roma.mcloughlin-downes117@example.com
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              01 01 1953
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              NI number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ123456C
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Citizenship
            </dt>
            <dd class="govuk-summary-list__value">
              UK
            </dd>
          </div>
        </dl>
        <!--END PERSONAL DETAILS-->

        <!--CHARACTER-->
        <table width="100%">
          <tr>
            <td>
              <h2 class="govuk-heading-l" style="margin-left:-4px;">
                Character information</h2>
            </td>
            <td>
              <div class="govuk-summary-list--change">
                <a class="govuk-link govuk-body" href="profile-character">
                  Change<span class="govuk-visually-hidden"> character information</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Been cautioned or convicted of a criminal offence
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Received a non-motoring penalty notice
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Been disqualified from driving, or convicted for driving under the influence of drink or drugs
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Have any endorsements on your licence, or received any motoring fixed-penalty notices
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Been declared bankrupt
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Filed late tax returns or been fined my HMRC
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Been subject to professional negligence, wrongful dismissal, discrimination or harassment proceedings
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Been subject to complaints or disciplinary action, or been asked to resign from a position
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Have any other issues that you think we should know about when considering your character
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        </dl>
        <!--END CHARACTER-->

        <!--DIVERSITY-->
        <table width="100%">
          <tr>
            <td>
              <h2 class="govuk-heading-l" style="margin-left:-4px;">
                Equality and diversity information</h2>
            </td>
            <td>
              <div class="govuk-summary-list--change">
                <a class="govuk-link govuk-body" href="profile-diversity">
                  Change<span class="govuk-visually-hidden"> equality and diversity information</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Taken part in the Pre-application judicial education (PAJE) Programme
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Ethnic group
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Religion or faith are you
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Gender
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Changed gender
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Sexual orientation
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Disability
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Attended state or fee-paying school
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Attended Oxbridge universities
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              First generation to go to university
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Professional background
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Current legal role
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Fee-paid judicial role experience
            </dt>
            <dd class="govuk-summary-list__value">
              Prefer not to say
            </dd>
          </div>
        </dl>
        <!--END CHARACTER-->

        <!--SPTW
        <table width="100%">
          <tr>
            <td>
              <h2 class="govuk-heading-l" style="margin-left:-4px;">
                Part-time working preferences</h2>
            </td>
            <td>
              <div class="govuk-summary-list--change">
                <a class="govuk-link govuk-body" href="form-qualifications">
                  Change<span class="govuk-visually-hidden"> qualifications</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Interested in part-time working</dd>
            <dd class="govuk-summary-list__value">
              Yes</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Yes</dd>
            <dd class="govuk-summary-list__value">
              Northern Ireland</dd>
          </div>
        </dl>
        <!--END SPTW-->

        <!--QUALIFICATIONS-->
        <table width="100%">
          <tr>
            <td>
              <h2 class="govuk-heading-l" style="margin-left:-4px;">
                Qualifications</h2>
            </td>
            <td>
              <div class="govuk-summary-list--change">
                <a class="govuk-link govuk-body" href="form-qualifications">
                  Change<span class="govuk-visually-hidden"> qualifications</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Qualification</dd>
            <dd class="govuk-summary-list__value">
              Barrister</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Location</dd>
            <dd class="govuk-summary-list__value">
              Northern Ireland</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Date qualified</dd>
            <dd class="govuk-summary-list__value">
              September 1995</dd>
          </div>
        </dl>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Qualification</dd>
            <dd class="govuk-summary-list__value">
              Solicitor</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Location</dd>
            <dd class="govuk-summary-list__value">
              England and Wales</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Date qualified</dd>
            <dd class="govuk-summary-list__value">
              April 2006</dd>
          </div>
        </dl>
        <!--END QUALIFICATIONS-->

        <!--WORK EXPERIENCE-->
        <table width="100%">
          <tr>
            <td>
              <h2 class="govuk-heading-l" style="margin-left:-4px;">
                Post-qualification experience</h2>
            </td>
            <td>
              <div class="govuk-summary-list--change">
                <a class="govuk-link govuk-body" href="form-experience">
                  Change<span class="govuk-visually-hidden"> post-qualification experience</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Job title
            </dt>
            <dd class="govuk-summary-list__value">
              Junior counsel
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Organisation or business
            </dt>
            <dd class="govuk-summary-list__value">
              Naughton Court Chambers
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Dates worked
            </dt>
            <dd class="govuk-summary-list__value">
              From 27 June 2013 to 17 February 2016
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Law-related tasks
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>The carrying-out of judicial functions of any court or tribunal</li>
                <li>Drafting documents intended to affect persons' rights or obligations</li>
              </ul>
            </dd>
          </div>
        </dl>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Job title
            </dt>
            <dd class="govuk-summary-list__value">
              Solicitor
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Organisation or business
            </dt>
            <dd class="govuk-summary-list__value">
              Neston, Algernon & Edge
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Dates worked
            </dt>
            <dd class="govuk-summary-list__value">
              27 June 2013 to 17 February 2016
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Law-related tasks
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                <li>Advising on the application of the law</li>
                <li>Assisting persons involved in proceedings for the resolution of issues arising under the law</li>
              </ul>
            </dd>
          </div>
        </dl>
        <!--END WORK EXPERIENCE-->

        <!--INDEPENDENT ASSESSORS-->
        <table width="100%">
          <tr>
            <td>
              <h2 class="govuk-heading-l" style="margin-left:-4px;">
                Independent assessors</h2>
            </td>
            <td>
              <div class="govuk-summary-list--change">
                <a class="govuk-link govuk-body" href="form-independent-assessors">
                  Change<span class="govuk-visually-hidden"> independent assessors</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Full name</dd>
            <dd class="govuk-summary-list__value">
              Jodie Atkinson QC</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Email</dd>
            <dd class="govuk-summary-list__value">
              j.atkinson@ncchambers.co.uk</dd>
          </div>
        </dl>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Full name</dd>
            <dd class="govuk-summary-list__value">
              Conor McKluskey</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Email</dd>
            <dd class="govuk-summary-list__value">
              conor.mckluskey@nae.co.uk</dd>
          </div>
        </dl>
        <!--END INDEPENDENT ASSESSORS-->

        <!--COMPETENCIES-->
        <table width="100%">
          <tr>
            <td>
              <h2 class="govuk-heading-l" style="margin-left:-4px;">
                Self-assessment competencies</h2>
            </td>
            <td>
              <div class="govuk-summary-list--change">
                <a class="govuk-link govuk-body" href="form-competencies">
                  Change<span class="govuk-visually-hidden"> self-assessment competencies</span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__key govuk-summary-list__key--check-answers">
              Finished statements
            </dd>
            <dd class="govuk-summary-list__value">
              <a href="#"> romamcloughlindownes.doc</a>
            </dd>
          </div>
        </dl>
        <!--END COMPETENCIES-->

        <!--BUTTON-->
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Send application
        </button>
        <br>


        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </form>
</main>
{% include "includes/footer.html" %}

</div>

{% endblock %}