{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <form class="form" action="confirm-email" method="post">


    {% include "includes/header.html" %}

    <!--MAIN WRAPPER-->
    <div class="flash-card">
      <header>
        <h1 class="govuk-heading-l">New application process!!!!!</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p class="govuk-body-l">
              If you've applied with JAC before, you'll notice that the process for this role is slightly different.</p>
            <p class="govuk-body-l">

              You'll need to enter some personal details to create your new account profile, as well as professional
              information for your application.

              <!--MAIN WRAPPER
              <p class="govuk-body-l">No information from your existing JAC account will be visible when you apply for
                this role.</p>-->
              <p class="govuk-body-l">You can still <a href="https://www.judicialappointments.gov.uk/user">sign into
                  your
                  existing account</a> to access anything you need for this application, but you cannot apply there.</p>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Close and continue
              </button>
          </div>

          <!--END MAIN WRAPPER-->
        </div>
    </div>
    </main>
    {% include "includes/footer.html" %}

</div>

{% endblock %}