{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="landing-diversity" method="post">



      <!--PAGE TITLE-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-l"></h2>
        </div>

        <div class="govuk-grid-column-one-quarter" style="text-align:right">
          <p class="govuk-body"><a href="#">Sign out</a></p>
        </div>
      </div>


      <div class="govuk-grid-row">

        <!--SIDE NAV
        <div class="govuk-grid-column-one-quarter">
          <ul class="dwp-vertical-navigation">
            <li>
              SIDE NAV<a href="tab-overview?current=tab-overview">
              </a>
            </li>
            <li>
              <a href="no-applications?current=no-applications">
                Applications
              </a>
            </li>
            <li>
            <a aria-current="page" href="tab-ask-personal?current=ask-personal">
              Personal details
            </a>
            </li>
            <li>
              <a href="ask-diversity?current=ask-diversity">
                Diversity
              </a>
            </li>
            <li>
              <a href="ask-character?current=ask-character">
                Character
              </a>
            </li>

          </ul>
        </div>
-->

        <div class="govuk-grid-column-three-quarters">


          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Create an account</span>
            Personal details
          </h1>

          <span id="waste-hint" class="govuk-hint">
            We'll use these to confirm your identity
            if you need to contact us.
          </span>

          <table class="govuk-table">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Name</th>
              <td class="govuk-table__cell">Eli Webb</td>
              <td class="govuk-table__cell"><a href="name">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Email address</th>
              <td class="govuk-table__cell">eli.webb@hotmail.com</td>
              <td class="govuk-table__cell"><a href="name">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of birth</th>
              <td class="govuk-table__cell">25 10 1979</td>
              <td class="govuk-table__cell"><a href="name">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">National Insurance number</th>
              <td class="govuk-table__cell">MY928561B</td>
              <td class="govuk-table__cell"><a href="name">Change</a></td>
            </tr>
            </tbody>
          </table>
          <button class="govuk-button" data-module="govuk-button">
            Add diversity information </button>

        </div>
      </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}