{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">


    <!--PAGE TITLE-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-xl"></span>

      </div>


      <div class="govuk-grid-column-one-quarter" style="text-align:right">
        <p class="govuk-body"><a href="#">Sign out</a></p>
      </div>
    </div>


    <div class="govuk-grid-row">

      <!--SIDE NAV
      <div class="govuk-grid-column-one-quarter">
        <ul class="dwp-vertical-navigation">
          <!--<li>
             
          <li>
            <a aria-current="page" href="tab-landing-personal?current=landing-personal">
              Personal details
            </a>
          </li>
          <li>
            <a href="landing-diversity?current=landing-diversity">
              Diversity
            </a>
          </li>
          <li>
            <a href="landing-character?current=landing-character">
              Character
            </a>
          </li>
          <li>
            <a href="landing-preferences?current=landing-preferences">
              Working preferences
            </a>
          </li>

        </ul>
      </div>
-->

      <div class="govuk-grid-column-three-quarters">


        <h1 class="govuk-heading-xl">

          Your account </h1>

        <p class="govuk-body-l">
          You can reuse this information in future job applications.


        </p>

        <table class="govuk-table">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="personal-combined">Personal details</a></th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">Added
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="diversity-1">Diversity details</a></th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">Not added</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="landing-character.html">Character information</a></th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">Not added</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"> <a href="working-preferences.html">Working preferences</a>
            </th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">Not added</td>
          </tr>



          </tbody>
        </table>




      </div>
    </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}