{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">


    <!--PAGE TITLE-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l"></h2>
      </div>

      <div class="govuk-grid-column-one-quarter" style="text-align:right">
        <p class="govuk-body"><a href="#">Sign out</a></p>
      </div>
    </div>


    <div class="govuk-grid-row">

      <!--SIDE NAV
      <div class="govuk-grid-column-one-quarter">
        <ul class="dwp-vertical-navigation">
          
              SIDE NAV<a href="tab-overview?current=tab-overview">
              </a>
            </li>
            <li>
              <a href="no-applications?current=no-applications">
                Applications
              </a>
            </li>
          <li>
            <a aria-current="page" href="tab-landing-personal?current=landing-personal">
              Personal details
            </a>
          </li>
          <li>
            <a href="landing-diversity?current=landing-diversity">
              Diversity
            </a>
          </li>
          <li>
            <a href="landing-character?current=landing-character">
              Character
            </a>
          </li>
          <li>
            <a href="landing-preferences?current=landing-preferences">
              Working preferences
            </a>
          </li>

        </ul>-->


      <div class="govuk-grid-column-three-quarters">


        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Create an account</span>
          Personal details
        </h1>

        <p class="govuk-body-l">
          We'll use these to confirm your identity
          if you need to contact us.
        </p>

        <table class="govuk-table">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email address</th>
            <td class="govuk-table__cell">eli.webb@hotmail.com</td>
            <td class="govuk-table__cell"><a href="email-change.html">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Full name</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="name.html">Add</a></td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="dob">Add</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National Insurance number</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="n-i">Add</a></td>
          </tr>



          </tbody>
        </table>

        <button type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled"
          data-module="govuk-button">
          Add diversity information
        </button>


      </div>
    </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}