{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    <!--PAGE TITLE-->
    <div class="govuk-panel govuk-panel--purple"
      style="margin-top:-40px; margin-bottom: 60px; padding-left:15px; padding-top:10px; padding-bottom:0">
      <h1 class="govuk-panel__body" style="margin-bottom:0;">
        <strong>Eli Webb</strong>
      </h1>
      <p class="govuk-body"><a href="#" style="color:white;">Sign out</a></p>
    </div>
    <div class="govuk-grid-row">

      <!--SIDE NAV-->
      <div class="govuk-grid-column-one-quarter">
        <ul class="dwp-vertical-navigation">
          <li>
            <a href="tab-applications?current=tab-applications">
              Applications
            </a>
          </li>
          <li>
            <a href="tab-personal-details?current=personal-details">
              Personal details
            </a>
          </li>
          <li>
            <a href="tab-diversity?current=tab-diversity">
              Diversity information
            </a>
          </li>
          <li>
            <a aria-current="page" href="tab-character?current=tab-character">
              Character information
            </a>
          </li>
          <li>
            <a href="tab-working?current=tab-working">
              Working preferences
            </a>
          </li>
        </ul>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <!--LINK-->
        <div style="text-align: right;">
          <a href="character-financial.html" class="govuk-body">Update character information</a>
        </div>

        <!--HEADER-->
        <h2 class="govuk-heading-l">Character information</h2>

        <!--TABLE-->
        <table class="govuk-table">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Have you ever been declared bankrupt?
            </th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Have you filed late tax returns, been fined by HMRC or had other
              financial difficulties more than 3 times in the last 5 years?</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Have you had a criminal conviction in the last 10 years or a
              criminal caution in the last 5 years?</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Have you had a motoring offence involving drink or drug driving,
              or driving while using a mobile in the last 10 years?</th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Have you been disqualified from driving in the last 5 years?
            </th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Do you have any motoring offences and more than 6 points on your
              licence?
            </th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Are you the subject of a live professional conduct or negligence
              investigation?
            </th>
            <td class="govuk-table__cell">No</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Do you have any other issues that you think we should know about
              when considering your character?
            </th>
            <td class="govuk-table__cell">No</td>
          </tr>
          </tbody>
        </table>

        <!--END MAIN WRAPPER-->
      </div>
    </div>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}