{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">042 Recorder</span>
        <h1 class="govuk-heading-xl">You might not be eligible</h1>
        <div class="govuk-form-group">
          <p class="govuk-body">It looks like you do not meet all the eligibility requirements
            for
            this role. </p>

          <p class="govuk-body">This is because you:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>do not have the required legal qualification, or experience</li>
            <li>could have character issues that mean you're not suitable for this role</li>
            <li>cannot work for the required number of years before retirement age
            <li>are not a citizen of an eligible country
          </ul>
          </p>



          <h2 class="govuk-heading-m">If you think you're eligible</h2>
          <p class="govuk-body">If you think you're eligible for this role, you can continue to apply, but it might
            be unlikely that you'll be offered a position.</p>
          <p class="govuk-body">You'll need to <a href="sign-in">sign in</a> or <a href="sign-up">create an account</a>
            to apply.</p>

        </div>
        <a href="#" class="govuk-button" data-module="govuk-button">
          Back to JAC homepage
        </a>
        <br>
        <p class="govuk-body">

        </p>
      </div>
    </div>
  </main>
  {% include "includes/footer.html" %}
</div> {% endblock %}