{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list-pre" method="post">

      <!--PAGE TITLE-->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" style="text-align:left">

          <h1 class="govuk-heading-xl">
            Set part-time working preferences
          </h1>
          <p class="govuk-body-l">Part-time working is offered for some salaried roles. </p>
          <p class="govuk-body-l">When it is offered, details will be discussed at selection day. </p>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-heading-m" style="margin-bottom:0px;">
                  Are you interested in part-time working? </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                    value="email" data-aria-controls="judge-conditional-yes">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                    value="phone" data-aria-controls="judge-conditional-no">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    No
                  </label>
                </div>












              </div>
            </fieldset>
          </div>


          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </div>
      </div>

  </main>





  <!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}