{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list-pre" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <span class="govuk-caption-xl">114 Judge of the First-tier Tribunal for England and Wales</span>


          <br>
          <h1 class="govuk-heading-xl">
            Qualifications
          </h1>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <span id="waste-hint" class="govuk-hint">
                Select all that apply.
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Advocate - Scotland
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Barrister
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Fellow of the Chartered Institute of Legal Executives (CILEx)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Solicitor
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted"
                          type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                          Non-legal qualification
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                        id="conditional-how-contacted-conditional">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="contact-by-email">
                            Add qualification.
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email"
                            name="contact-by-email" type="email" spellcheck="false">
                        </div>
                      </div>
                    </div>
                </div>
            </fieldset>
          </div>







          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}