{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}


{% include "includes/header.html" %}


<main class="govuk-main-wrapper " id="main-content" role="main">
  <form class="form" action="form-sent" method="post">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <span class="govuk-caption-xl">114 Judge of the First-tier Tribunal for England
          and Wales</span>
        <br>


        <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

        <h3 class="govuk-heading-s">Personal details</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Eli Webb
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              eli.webb@hotmail.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              25 10 1979
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

        </dl>

        <h3 class="govuk-heading-s">Qualifications</h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Solicitor
            </dd>
            <dd class="govuk-summary-list__value">
              England and Wales
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


      </div>
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h3 class="govuk-heading-s">Legal experience</h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">



            <dd class="govuk-summary-list__value">
              18 February 2014 to present <BR><br>
              <p class="govuk-body govuk-!-font-weight-bold">5 years 7 months</p>
            </dd>

            <dd class="govuk-summary-list__value">
              Solicitor </dd>
            <dd class="govuk-summary-list__value">
              Neston, Algernon & Edge
            </dd>
            <dd class="govuk-summary-list__value">
              Advising on the application of the law; Advising on resolution proceedings </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
        </dl>
      </div>
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h3 class="govuk-heading-s">Additional experience</h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">



            <dd class="govuk-summary-list__value">
              Read and speak Welsh<BR><br>
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
        </dl>
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h3 class="govuk-heading-s">Judicial experience</h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">




            <dd class="govuk-summary-list__value">
              Judicial role</dd>
            <dd class="govuk-summary-list__value">
              At least 30 sitting days </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
        </dl>
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h3 class="govuk-heading-s">Independent assessors</h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Jodie Atkinson QC</dd>
            <dd class="govuk-summary-list__value">
              j.atkinson@ncchambers.co.uk </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Conor McKluskey</dd>
            <dd class="govuk-summary-list__value">
              conor.mckluskey@nae.co.uk</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
        </dl>
      </div>



      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h3 class="govuk-heading-s">Self-assessment competency statements</h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              eliewebb.doc</dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Send application
    </button>
    </div>

    </div>
    </div>

    {% include "includes/footer.html" %}

    </div>

    {% endblock %}