{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}



{% include "includes/header.html" %}

<!--MAIN WRAPPER-->


<div class="govuk-width-container">
  <main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">




      <!--PAGE TITLE-->



      <div class="govuk-grid-column-two-thirds">
        <!--links
        <p><strong>Contents</strong>
          <p><a href="#">Salary</a></p>
          <p><a href="#">Eligibility</a></p>
          <p><a href="#">Salary</a></p>
          <p><a href="#">Additional skills or experience</a></p>
          <p><a href="#">Location</a></p>
          <p><a href="#">Jursidiction</a></p>

          -->

        <h1 class="govuk-heading-xl">092 Registrar of Criminal Appeals, Master of the Crown Office and Queen’s Coroner &
          Attorney
          <br>
        </h1>
        <p><strong>Number of vacancies:</strong> 1</p>
        <p><strong>Location:</strong> Royal Courts of Justice, London </p>
        <p><strong>Salary:</strong> Salary Group 6, £134,841 a year</p>
        <p><strong>Contact:</strong> 092@jac.gov.uk</p>



        <h2 class="govuk-heading-l">Timeline</h2>

        <ol class="dwp-timeline govuk-list">
          <li class="dwp-timeline__entry" style="margin-top: 0px;">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Application deadline</h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">13:00 Wednesday 11 October 2019</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Selection day
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">22 to 24 November 2019, London. 28 to 30
                November
                2019, Birmingham</span></p>
          </li>
          <li class="dwp-timeline__entry">
            <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Candidates notified about appointment decision
            </h3>
            <p class="dwp-timeline__info"><span class="dwp-timeline__date">January 2020</span></p>
          </li>

        </ol>



        <h2 class="govuk-heading-l"> Overview of the role </h2>

        <p class="govuk-body">As Registrar of Criminal Appeals the post holder has responsibility for ensuring that
          applications and appeals
          received by the Court of Appeal Criminal Division are placed before the court in good time in accordance with
          the statutory powers conferred on them.</p>
        <p> In exercising these powers, the Registrar must be able to demonstrate a deep understanding of criminal law,
          procedure and sentencing. The role entails providing judicial leadership to the legal and administrative staff
          of the Criminal Appeal Office; exercising their duty of active case management by giving directions for the
          progression of cases; holding directions hearings in open court; identifying, on a termly basis, which judges
          of the Court of Appeal are to sit in the Criminal Division; and liaising with, and seeking the direction of
          the Lord Chief Justice, the Vice President and other senior judges of the court. As Registrar of the Court
          Martial Appeal Court the post holder will exercise similar functions in relation to that court.</p>




        <h2 class="govuk-heading-l">How to apply </h2>

        <p class="govuk-body">There are 3 stages to the application process.</p>
        <!--MAIN WRAPPER
        <ol class="govuk-list govuk-list--number">
          <li>Check if you're eligible to apply.</li>
          <li>Complete application form.</li>
          <li>Attend selection day, if invited.</li>
        </ol>
        -->

        <h3 class="govuk-heading-m">1. Check if you're eligible</h3>
        <p class="govuk-body"> Check you meet all the eligibility requirements for this
          role. It's not a guarantee you're eligible – it's to give you an idea of whether you
          might be.</p>

        <h3 class="govuk-heading-m">2. The application form</h3>

        <p class="govuk-body">You'll need to complete your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>qualifications</li>
          <li>work experience</li>
          <li> self-assessment competency statements</a></li>
          <li>independent assessors' details</a>
          </li>
        </ul>


        <h3 class="govuk-heading-m">3. Selection day</h3>
        <p class="govuk-body">Shortlisted candidates are invited to selection days. These
          allow us to meet you in person to assess your suitability for the role. If you’re selected, we’ll email you a
          week before with
          details about what you’ll need to prepare for the day. </p>

        <a href="eligibility-page.html" class="govuk-button" data-module="govuk-button">
          Check you're eligible and apply
        </a>
        <p class="govuk-body"><a href="#">Or get email updates about this role</a></p>
      </div>


      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m">Related content</h2>
        <p><a href=https://www.judicialappointments.gov.uk/overview-selection-process target="_blank">How we shortlist
            candidates</a></p>
        <p><a href="https://www.judicialappointments.gov.uk/completing-your-self-assessment" target="_blank">How to
            write your self-assessment competency statements</a></p>
        <p><a href="https://www.judicialappointments.gov.uk/references-guidance-candidates" target="_blank">How to
            choose your independent assessors</a></p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



      </div>

    </div>
  </main>
  {% include "includes/footer.html" %}
  {% endblock %}