{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-panel__body">

            <p class="govuk-body-l">JAC user research session</p>

            <a href="job-advert.html" class="govuk-button" data-module="govuk-button">
              Continue
            </a>


          </div>





          <!--BUTTON-->


          <!--END MAIN WRAPPER-->
        </div>
      </div>
      </form>
    </main>

    {% include "includes/footer.html" %}

  </div>

  {% endblock %}