{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-width-container">
          <form class="form" action="eligibility-yes" method="post">
            <span class="govuk-caption-xl">092 Registrar of Criminal Appeals, Master of the Crown Office and Queen’s
              Coroner &
              Attorney</span>
            <br>
            <h1 class="govuk-heading-xl">Check if you're eligible</h1>
            <p class="govuk-body">If you cannot meet all the requirements, you can still apply but it could mean you’re
              unlikely to be offered a position.
            </p>
            <h2 class="govuk-heading-l">Citizenship</h2>
            <p> You're a citizen of the UK, the Republic of Ireland or another Commonwealth country.
            </p>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Yes </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <h2 class="govuk-heading-l">Character</h2>
            <p> There are no questions about your <a
                href="https://www.judicialappointments.gov.uk/good-character">character</a> that could affect your
              suitability for this role.
              <span id="more-detail-hint" class="govuk-hint">
                Criminal, motoring and financial offences, and professional misconduct or negligence could all affect
                your suitability for this role.
              </span>
            </p>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Yes </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <h2 class="govuk-heading-l">Reasonable length of service</h2>
            <p> You can work for at least 5 years before reaching the retirement age of 70.
            </p>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Yes </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <h2 class="govuk-heading-l">Qualifications</h2>
            <p> You qualified in England or Wales as a barrister, fellow of CILEx or solicitor.
            </p>
            <p>Or, you qualified in Northern Ireland or Scotland as a barrister or solicitor and have completed the
              Qualified Lawyers Training Scheme (QLTS).</p>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Yes </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <h2 class="govuk-heading-l">Post-qualifying experience</h2>
            <p> You have at least 5 years of <a
                href="https://www.judicialappointments.gov.uk/eligibility-tribunals">post-qualification
                law-related work
                experience</a>.
            </p>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Yes </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <h2 class="govuk-heading-l">Additional eligibility requirements</h2>
            <p> You have experience of criminal law and procedure in the Crown Court and/or the Court of Appeal,
              Criminal
              Division that includes sufficient <a href=“#”>directly relevant previous judicial experience</a>. </p>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Yes </label>
                  </div>
                </div>
              </fieldset>
            </div>



            <!--MAIN WRAPPER

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      I'm a citizen of the UK, the Republic of Ireland or another Commonwealth country.
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      I'm aged 65 or under.
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      I have at least 5 years of <a
                        href="https://www.judicialappointments.gov.uk/eligibility-tribunals">post-qualification
                        law-related work
                        experience</a>.
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      I do not have any significant criminal, driving, financial convictions or proven professional
                      complaints against you. (Read our <a
                        href="https://www.judicialappointments.gov.uk/good-character">character guidance</a> for more
                      information.)

                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      I have sat as a judge in a salaried or fee-paid capacity. For fee-paid judges at the point of
                      application, the length of directly relevant previous judicial experience should a minimum 30
                      completed sitting days, not including days taken for training purposes or sickness, since
                      appointment in a fee
                      paid capacity.
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            -->


            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>


  </main>
</div>

<!--END MAIN WRAPPER-->
</div>
</div>
</main>

{% include "includes/footer.html" %}

</div>

{% endblock %}