{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}



{% include "includes/header.html" %}

<!--MAIN WRAPPER-->


<div class="govuk-width-container">
  <main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">




      <!--PAGE TITLE-->



      <div class="govuk-grid-column-two-thirds">
        <!--links
        <p><strong>Contents</strong>
          <p><a href="#">Salary</a></p>
          <p><a href="#">Eligibility</a></p>
          <p><a href="#">Salary</a></p>
          <p><a href="#">Additional skills or experience</a></p>
          <p><a href="#">Location</a></p>
          <p><a href="#">Jursidiction</a></p>

          -->

        <h1 class="govuk-heading-xl">091 Judge of the First-tier Tribunal for England and Wales</span>
          <br>
        </h1>



        <p><strong>Closing date:</strong> 13:00 Wednesday 11 October 2019</p>
        <p><strong>Number of vacancies:</strong> 120</p>
        <p><strong>Location:</strong> Across England, Scotland and Wales </p>

        <p><strong>Appointment type:</strong> Fee paid</p>
        <p><strong>Salary:</strong> £519.70 a day in London. £501.52 a day in all other locations. </p>


        <h2 class="govuk-heading-l"> Overview of the role </h2>


        <p class="govuk-body">The First-tier Tribunal Chambers are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Immigration and Asylum</li>
          <li>Social Entitlement</li>
          <li>War Pensions and Armed Forces Compensation</li>
          <li>Health, Education and Social Care</li>
          <li>Property</li>
          <li>Tax</li>
          <li>General Regulatory</li>
        </ul>

        <p>Each Chamber is headed by a chamber president. Overall responsibility for the tribunal system and judiciary
          rests with the Senior President of Tribunals.
        </p>




        <h3 class="govuk-heading-m">Proceedings</h3>

        <p>Tribunals often sit as panels consisting of a legally qualified chair (the judge) and non-legal members
          with specific areas of expertise, though certain types of cases or appeals can be presided over by a judge
          sitting alone. Except in cases that involve national security or evidence of a very personal nature,
          substantive final hearings in tribunal cases are held in public.
        </P>
        <p>During the hearing the judge must ensure that the overriding objective (to deal with cases fairly and
          justly) is observed, which will include all parties having the opportunity to participate in proceedings as
          fully and fairly as possible. Many cases involve individuals putting their own case forward without legal
          assistance. The judge should therefore help ensure the system is accessible to all by guiding parties
          through the procedures appropriately. </P>

        <p>During the case, the judge and non-legal members can ask questions on any point that needs clarification or
          which will assist the tribunal in reaching a decision. The judge also decides on all matters of procedure
          that may arise during a hearing. </P>

        <p>Before reaching a decision, the tribunal will consider the evidence and hear submissions from both parties.
          The tribunal’s decision will then be given either at the hearing, or later in writing. In either case, the
          parties receive a written decision. </P>

        <h2 class="govuk-heading-l">How to apply </h2>

        <p class="govuk-body">There are 2 stages to the application process:</p>
        <ol class="govuk-list govuk-list--number">
          <li>The application form.</li>
          <li>Selection day.</li>
        </ol>


        <h3 class="govuk-heading-m">The application form</h3>


        <p class="govuk-body">You'll need to complete your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>qualifications </li>
          <li>experience</li>
          <li>self-assessment competency statements </li>
          <li>independent assessors contact details</li>
          <p></p>
          <!--MAIN WRAPPER
about your skills and experience in leadership, exercising
            judgement, possessing and building knowledge, assimilating and clarifying information, working and
            communicating with others and managing work effectively
  -->


      </div>
      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m">Related content</h2>
        <p><a href>How we shortlist candidates</a></p>
        <p><a href>How to write your self-assessment competency statements</a></p>
        <p><a href>How to choose your independent assessors</a></p>
        <p><a href>Find out about the selection day</a></p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <a href="eligibility-page.html" class="govuk-button" data-module="govuk-button">
          Check if you're eligible
        </a>
      </div>

    </div>
  </main>
  {% include "includes/footer.html" %}
  {% endblock %}