{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}



{% include "includes/header.html" %}

<!--MAIN WRAPPER-->


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">











      <!--PAGE TITLE-->



      <div class="govuk-grid-column-two-thirds">

        <p><strong>Contents</strong>
          <p><a href="#">Salary</a></p>
          <p><a href="#">Eligibility</a></p>
          <p><a href="#">Salary</a></p>
          <p><a href="#">Additional skills or experience</a></p>
          <p><a href="#">Location</a></p>
          <p><a href="#">Jursidiction</a></p>
          <h1 class="govuk-heading-xl">
            106 District judge
          </h1>



          <p><strong>Closing date:</strong> 25 July 2019 - 13:00</p>
          <p><strong>Location:</strong> Teesside and Wales</p>

          <p><strong>To start now:</strong> 92</p>
          <p><strong>To join reserve list:</strong> 18</p>



          <h2 class="govuk-heading-l">
            Salary
            <h2 class="govuk-heading-l">
              <p>These posts are in salary group 7 £110,335.</p>
              <p>Post-holders in London are paid an additional £2,000 salary lead and an additional £2,000 London
                allowance.
              </p>
              <p>Salaried part-time working is offered.</p>
        </p>

        <h2 class="govuk-heading-l">
          Eligibility
          <h2 class="govuk-heading-l">


            <p class="govuk-body">To apply you must:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>be a citizen of the UK, Republic of Ireland or another Commonwealth country
              </li>
              <li>be a solicitor, barrister or Fellow of the Institute of Legal Executives in England or Wales
              </li>
              <li>have at least 7 years of post-qualification law-related experience
              </li>
              <li>be able to work in this role for at least 4 years before reaching the statutory retiring age of
                70
              </li>
            </ul>

            <h2 class="govuk-heading-l">
              Additional skills or qualifications
              <h2 class="govuk-heading-l">



                <p>The Lord Chancellor expects that candidates for salaried posts will have sufficient directly
                  relevant previous judicial experience. Only in exceptional cases and if the candidate in
                  question has demonstrated the necessary skills in some other significant way should an exception
                  be made.</p>

                <p>The meaning of “directly relevant experience” is sitting as a judge in a salaried or fee-paid
                  capacity. For fee-paid judges this should be for a period of at least two years or 30 sitting
                  days since appointment.</P>

                <h2 class="govuk-heading-l">
                  Location
                  <h2 class="govuk-heading-l">
                    <p>Tribunal administration is located in Llandrindod Wells. Tribunal hearings are conducted
                      across all regions of Wales, candidates must be available to hear cases and travel
                      independently throughout Wales and be able to stay overnight where necessary.</P>


                    <h2 class="govuk-heading-l">
                      Jurisdiction
                      <h2 class="govuk-heading-l">
                        <p>Successful candidates will be deployed to sit in either family or civil jurisdictions
                          across all circuits. You will be required, on your application, to indicate and rank
                          your location preferences. However, this information will play no part in selection
                          decisions and will be used for deployment purposes only. </p>

                        <p>Some District Judges are also nominated to sit as judges of the Court of Protection
                          either in London or in the regions. There may be a requirement of 1 post specifically
                          from this recruitment exercise for full-time secondment to the Court of Protection in
                          London. </p>

                        <p>Final deployment decisions will be a matter for the Senior Presiding Judge. It may not
                          always be possible to deploy successful candidates in line with their preferences,
                          depending on business need. You may, therefore, be deployed to any of the regions. In
                          circumstances where the preferences of candidates do not match vacancy requirements, the
                          Senior Presiding Judge may take account of the order of merit to give those who are most
                          meritorious priority of assignment to their preferred circuit. </p>

                        <h2 class="govuk-heading-l">
                          Overview of the role
                        </h2>

                        <p>The work of District Judges involves a wide spectrum of civil and family law cases such
                          as claims for damages and injunctions, possession proceedings against mortgage borrowers
                          and property tenants, divorces, child proceedings, domestic violence injunctions and
                          insolvency proceedings.</p>
                        <p>Those appearing before District Judges range from Queen's Counsel to litigants in person
                          unable to read or write.
                        </p>
                        <p>All this means that the work that District Judges do has a significant, vital and lasting
                          impact on the lives of large numbers of people, many of them disadvantaged and vulnerable.
                        </p>

                        <p>District Judges deal with most of the cases in the county courts. They are assigned on
                          appointment to a particular circuit and may sit at any of the county courts or district
                          registries on that circuit. A district registry is part of the High Court situated in
                          various districts of England and Wales, dealing with High Court family and civil business.
                          District registries are often co-located at county courts, when the District Judges
                          sitting there will case-manage High Court cases.
                        </p>

                        <p>This exercise is open to solicitors and barristers in England and Wales and Fellows of
                          the Chartered Institute of Legal Executives with at least 5 years post qualification
                          experience.</p>


                        <!--LINK BUTTON-->
                        <div><a href="eligibility-start-page" class="govuk-button">Apply</a></div>






      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Related content</h2>
        <p><a href>How we shortlist candidates</a></p>
        <p><a href>How to write your self-assessment competencies</a></p>
        <p><a href>How to choose your independent assessors</a></p>
        <p><a href>Find out about the selection day</a></p>
      </div>

    </div>
  </main>
  {% include "includes/footer.html" %}
  {% endblock %}