{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Add new exercise
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="task-list" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <!--PAGE TITLE-->
          <h1 class="govuk-heading-xl">
            Qualifications
          </h1>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Are you qualified as a:
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise" name="type-of-exercise" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise">
                    Advocate
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Barrister
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    CILEx
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Solicitor
                  </label>
                </div>
            </fieldset>
          </div>

          <!--RADIO GROUP-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Where did you qualify?
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise" name="type-of-exercise" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise">
                    England and Wales
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Scotland
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-exercise-2" name="type-of-exercise" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="type-of-exercise-2">
                    Northern Ireland
                  </label>
                </div>
            </fieldset>
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                When were you called to the Faculty/Bar or entered on the Roll?</b>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                For example, 02 2017
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <h2 class="govuk-heading-l">
            Qualifications
          </h2>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              Qualification
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <!--TEXT INPUT-->
          <div class="govuk-form-group">
            <label class="govuk-label-input" for="event-name">
              College or university
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>

          <!--DATE-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Qualification date </legend>
              <span id="waste-hint" class="govuk-hint">
                For example, 02 2017
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                      name="passport-issued-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                      name="passport-issued-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <a href="#">Add another</a>
          </div>

          <!--BUTTON-->
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save
          </button>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}