{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <!--HEADER-->
  <div class="govuk-heading-l">Judicial Appointments Commission</div>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service. Your feedback will help us improve it.
        </span>
      </p>
    </div>
  <!--END HEADER-->

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Exercise published</h1>
          </div>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p><a href="dashboard">Go back to your dashboard</a></p>
      </div>
      <div class="govuk-grid-column-two-thirds">
          <p><a href="index">Sign out</a></p>
    </div>
    </div>

  </main>
  <!--END MAIN WRAPPER-->

    <!--FOOTER-->
    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          
                  <span class="govuk-footer__licence-description">
                      <div>
                          <a href="guide.html">
                            Prototype kit guide
                          </a>
                        </div>
                  </span>
                </div>
              </div>
          </div>
      </footer>
      <!--END FOOTER-->

</div>

{% endblock %}
