{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="sign-up" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <!--PAGE TITLE-->
          <h2 class="govuk-heading-l">Check eligibility</h2>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Version in progress</h3>
          <p class="govuk-body">
            <a href="check-eligibility/v1-6-september-5/job-advert">v1.6</a>
          </p>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>
          <p class="govuk-body">
            <a href="check-eligibility/v1-5-september-4/job-advert">v1.5</a><br>
            <a href="check-eligibility/v1-4-august-24/job-advert">v1.4</a><br>
            <a href="check-eligibility/v1-3-august-23/job-advert">v1.3</a><br>
            <a href="check-eligibility/v1-2-august-16/job-advert">v1.2</a><br>
            <a href="check-eligibility/v1-1-august-7/job-advert">v1.1</a><br>
            <a href="check-eligibility/v1-0-august-6/form">v1.0</a>
          </p>

          <div style="margin: 2rem 0 2rem 0;">
            <hr class="govuk-section-break govuk-section-break--visible">
          </div>

          <!--PAGE TITLE-->
          <h2 class="govuk-heading-l">Apply</h2>

          <h2 class="govuk-heading-m">Pre-shortlisting</h2>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>
          <p class="govuk-body">
            <a href="apply-pre-shortlisting/v1-1-august-16/task-list-pre">v1.1</a><br>
            <a href="apply-pre-shortlisting/v1-0-august-7/task-list-pre">v1.0</a>
          </p>

          <h2 class="govuk-heading-m">Shortlisting</h2>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>
          <p class="govuk-body">
            <a href="apply-shortlisting/v1-1-august-16/qt-info-page">v1.1</a><br>
            <a href="apply-shortlisting/v1-0-august-7/qt-info-page">v1.0</a>
          </p>

          <!--PAGE TITLE-->
          <h2 class="govuk-heading-m">Post-shortlisting</h2>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>
          <p class="govuk-body">
            <a href="apply-post-shortlisting/v1-0-august-7/task-list-post">v1.0</a>
          </p>

          <div style="margin: 2rem 0 2rem 0;">
            <hr class="govuk-section-break govuk-section-break--visible">
          </div>

          <!--PAGE TITLE-->
          <h2 class="govuk-heading-l">Account creation and sign in</h2>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Version in progress</h3>
          <p class="govuk-body">
            <a href="account-sign-in/v1-1-august-16/sign-in">v1.1</a>
          </p>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>
          <p class="govuk-body">
            <a href="account-sign-in/v1-0-august-6/sign-in">v1.0</a>
          </p>

          <div style="margin: 2rem 0 2rem 0;">
            <hr class="govuk-section-break govuk-section-break--visible">
          </div>


          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}