{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="sign-up" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          <!--PAGE TITLE-->
          <h2 class="govuk-heading-l">Submit an application<br>
            <p class="govuk-body">View job advert, check eligibility, add profile information, complete application.
            </p>
          </h2>
          <h2 class="govuk-heading-l">

          </h2>

          <h2 class="govuk-heading-l">
            <a href="submit-application/v2-1b/confirm-email">v2.1b - Latest stable version</a> 🚗<br>
            <span class="govuk-hint">Exercise 153</span>
          </h2>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Version in progress</h3>
          <p class="govuk-body">
            <a href="submit-application/v2-2/job-advert">v2.2</a>
          </p>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>

          <p class="govuk-body">
            <a href="submit-application/v2-1/job-advert">v2.1</a><br>
            <span class="govuk-hint">User tested from 30 Sep to 4 Oct 2019 (Session B)</span>
            <br<br>
              <a href="submit-application/v2-0-court/job-advert">2.0 Court</a><br>
              <span class="govuk-hint">User tested from 23 Sep to 30 Sep 2019 (Session A)</span>
              <a href="submit-application/v2-0-tribunal/job-advert">2.0 Tribunal</a><br>
              <span class="govuk-hint">
                User tested from 23 Sep to 30 Sep 2019 (Session A)</span>
          </p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                More previous versions
              </span>
            </summary>
            <div class="govuk-details__text">

              <h3 class="govuk-heading-s" style="margin-bottom: 5px">Create account and add profile information</h3>
              <p class="govuk-body">
                <a href="submit-application/previous/account-v1-4/eligibility-yes">v1.4</a><br>
                <a href="submit-application/previous/account-v1-3/sign-up">v1.3</a><br>
                <a href="submit-application/previous/account-v1-2/sign-in">v1.2</a><br>
                <a href="submit-application/previous/account-v1-1/sign-in">v1.1</a><br>
                <a href="submit-application/previous/account-v1-0/sign-in">v1.0</a>
              </p>

              <h3 class="govuk-heading-s">Check eligibility</h3>
              <p class="govuk-body">
                <a href="submit-application/previous/eligibility-v1-5/sign-in">v1.5</a><br>
                <a href="submit-application/previous/eligibility-v1-4/job-advert">v1.4</a><br>
                <a href="submit-application/previous/eligibility-v1-3/job-advert">v1.3</a><br>
                <a href="submit-application/previous/eligibility-v1-2/job-advert">v1.2</a><br>
                <a href="submit-application/previous/eligibility-v1-1/job-advert">v1.1</a><br>
                <a href="submit-application/previous/eligibility-v1-0/form">v1.0</a>
              </p>
              <h3 class="govuk-heading-s">Apply</h3>
              <p class="govuk-body">
                <a href="submit-application/previous/apply-v1-2-court/task-list-pre">v1.2 - court role</a><br>
                <a href="submit-application/previous/apply-v1-2-tribunal/task-list-pre">v1.2 - tribunal role</a><br>
                <a href="submit-application/previous/apply-v1-1/task-list-pre">v1.1</a><br>
                <a href="submit-application/previous/apply-v1-0/task-list-pre">v1.0</a>
              </p>

            </div>
          </details>
        </div>
        <!--END COL ONE HALF-->

        <div class="govuk-grid-column-one-half index-image">
          <img src="../../public/images/submit-application.png" width="350px"
            style="border: 1px solid black; margin:2px;">
        </div>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <div style="margin: 2rem 0 2rem 0;">
            <hr class="govuk-section-break govuk-section-break--visible">
          </div>

          <h2 class="govuk-heading-l">View applications and profile</h2>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Version in progress</h3>
          <p class="govuk-body">
            <a href="view-profile/v1-1/tab-applications.html">v1.1</a>
          </p>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>
          <p class="govuk-body">
            <a href="view-profile/v1-0/overview">v1.0</a>
          </p>

          <div style="margin: 2rem 0 2rem 0;">
            <hr class="govuk-section-break govuk-section-break--visible">
          </div>

          <h2 class="govuk-heading-l">Qualifying tests</h2>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Version in progress</h3>
          <p class="govuk-body">
            <a href="shortlisting/v1-2/qt-info-page.html">v1.2</a>
          </p>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>
          <p class="govuk-body">
            <a href="shortlisting/v1-1/qt-info-page">v1.1</a><br>
            <a href="shortlisting/v1-0/qt-info-page">v1.0</a>
          </p>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}