{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="sign-up" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <!--PAGE TITLE-->
          <h2 class="govuk-heading-xl">Job ad, check eligibility and apply</h2>
          <h3 class="govuk-heading-m">Version in progress
            </p>
            <a href="check-eligibility/v1-6-court/job-advert">Court role - 1.6</a>
            <br>
            <a href="check-eligibility/v1-6-tribunal/job-advert">Tribunal role - 1.6</a>
            <br>
            <h3 class="govuk-heading-s" style="margin-bottom: 5px">Check eligibility previous versions</h3>
            <p class="govuk-body">
              <a href="check-eligibility/v1-5/job-advert">v1.5</a><br>
              <a href="check-eligibility/v1-4/job-advert">v1.4</a><br>
              <a href="check-eligibility/v1-3/job-advert">v1.3</a><br>
              <a href="check-eligibility/v1-2/job-advert">v1.2</a><br>
              <a href="check-eligibility/v1-1/job-advert">v1.1</a><br>
              <a href="check-eligibility/v1-0/form">v1.0</a>
            </p>

            <h3 class="govuk-heading-s">Apply previous versions
              <br>
              <a href="check-eligibility/v1-6-court/job-advert.html">v1.2 - court role</a>

              <!--PAGE TITLE
              <a href="apply-pre-shortlisting/v1-2-tribunal/task-list-pre">v1.2 - tribunal role</a>
            </h3>-->

              <p class="govuk-body">
                <a href="apply-pre-shortlisting/v1-1/task-list-pre">v1.1</a><br>
                <a href="apply-pre-shortlisting/v1-0/task-list-pre">v1.0</a>
              </p>
              <div style="margin: 2rem 0 2rem 0;">
                <hr class="govuk-section-break govuk-section-break--visible">
              </div>
            </h3>


            <h2 class="govuk-heading-xl">Account creation and sign in</h2>

            <h3 class="govuk-heading-m">Version in progress
              </p>
              <a href="account-sign-in/v1-2/sign-in">v1.2</a>
            </h3>
            <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>
            <p class="govuk-body">
              <a href="account-sign-in/v1-1/sign-in">v1.1</a><br>
              <a href="account-sign-in/v1-0/sign-in">v1.0</a>
            </p>
            <div style="margin: 2rem 0 2rem 0;">
              <hr class="govuk-section-break govuk-section-break--visible">
            </div>

            <h2 class="govuk-heading-xl">Candidate dashboard</h2>
            <h3 class="govuk-heading-m">Version in progress
              </p>
              <a href="candidate-dashboard/v1-0/overview.html">v1.0</a>
            </h3>
            <div style="margin: 2rem 0 2rem 0;">

            </div>


            <!--PAGE TITLE
          <h2 class="govuk-heading-l">Shortlisting</h2>

          <h3 class="govuk-heading-m">Version in progress
            <br>
            <a href="apply-shortlisting/v1-2/qt-info-page">v1.2</a>
          </h3>

          <h3 class="govuk-heading-s" style="margin-bottom: 5px">Previous versions</h3>
          <p class="govuk-body">
            <a href="apply-shortlisting/v1-1/qt-info-page">v1.1</a><br>
            <a href="apply-shortlisting/v1-0/qt-info-page">v1.0</a>
          </p>

        
          <h2 class="govuk-heading-l">Post-shortlisting</h2>

          <h3 class="govuk-heading-m">Version in progress
            <br>
            <a href="apply-post-shortlisting/v1-0/task-list-post">v1.0</a>
          </h3>

          <div style="margin: 2rem 0 2rem 0;">
            <hr class="govuk-section-break govuk-section-break--visible">
          </div>
          -->

            <!--PAGE TITLE-->


            <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}