{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/header.html" %}

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <form class="form" action="sign-up" method="post">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h3 class="govuk-heading-m">
            <a href="account-sign-in/v1-5/job-advert">Session b</a>
          </h3>

          <!--END MAIN WRAPPER-->
        </div>
      </div>
    </form>
  </main>

  {% include "includes/footer.html" %}

</div>

{% endblock %}