{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <!--HEADER-->
  <div class="govuk-heading-l">Judicial Appointments Commission</div>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your feedback will help us improve it.
      </span>
    </p>
  </div>
  <a href="dashboard" class="govuk-back-link">Back</a>
  <!--END HEADER-->

  <!--MAIN WRAPPER-->
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Create new exercise
        </h1>

        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Add exercise information
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="exercise" aria-describedby="eligibility-completed">
                  Add exercise essentials
                </a>
                <strong class="govuk-tag-task-list app-task-list__task-completed"
                  id="eligibility-completed">Open</strong>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="exercise-2" aria-describedby="read-declaration-completed">
                  Add exercise administration
                </a>
                <strong class="govuk-tag-task-list app-task-list__task-completed govuk-tag-task-list-approvals"
                  id="read-declaration-completed">Approvals</strong>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Add information for candidate
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="exercise-3" aria-describedby="company-information-completed">
                  Create application form
                </a>

              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="exercise-4" aria-describedby="contact-details-completed">
                  Create job description
                </a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span> Lorem ipsum
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="#">
                  Lorem ipsum
                </a>
              </li>
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="#">
                  Lorem ipsum
                </a>
              </li>
            </ul>
          </li>
        </ol>

      </div>
    </div>
  </main>
  <!--END MAIN WRAPPER-->

  <!--FOOTER-->
  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

          <span class="govuk-footer__licence-description">
            <div>
              <a href="guide.html">
                Prototype kit guide
              </a>
            </div>
          </span>
        </div>
      </div>
    </div>
  </footer>
  <!--END FOOTER-->

</div>

{% endblock %}